{% extends "@PaprecPublic/Common/Base/base_index.html.twig" %}

{% block sidebar %}
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'active' %}
    {% set coordonnees = '' %}
    {% set offre = '' %}
    {{ parent() }}
{% endblock %}

{% block sidebar_info %}
    {{ render(controller('PaprecPublicBundle:Common:getSideBarInfo')) }}
{% endblock %}


{% block cta_panel %}
    <div class="step__tab__container">
        <a class="step__tab step__tab--cart"
           href="{{ path('paprec_public_corp_chantier_subscription_setQuote', {cartUuid: cart.id}) }}">{{ 'Public.Cart.NeedEstimation'|trans }}</a>
        <a class="step__tab step__tab--quote"
           href="{{ path('paprec_public_corp_home_requestWriting_step1', {cartUuid: cart.id}) }}">{{ 'Public.Cart.FillForm'|trans }}</a>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block bottom_customizable_area %}
    {% set customAreaImage = paprec_customizable_area('images_banner_' ~ cart.division|lower) %}
    {% if customAreaImage is not null %}
        {% autoescape false %}
            {{ customAreaImage.content }}
        {% endautoescape %}
    {% endif %}

    {% set customArea = paprec_customizable_area('reassurance_banner_chantier') %}
    {% if customArea is not null %}
        {% autoescape false %}
            {{ customArea.content }}
        {% endautoescape %}
    {% endif %}

    {% set customAreaLogo = paprec_customizable_area('logo_banner_' ~ cart.division|lower) %}
    {% if customAreaLogo is not null %}
        {% autoescape false %}
            {{ customAreaLogo.content }}
        {% endautoescape %}
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>

{% endblock %}
