<style type="text/css">

    .contrat__signature > div {
        width: 50%;
    }

    .contrat__signature > div:last-child {
        border-left: 1px solid black;
        padding-left: 15px;
    }
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 9 -->
    <p class="center-text mb-20 mt-30">§ 9 – VERTRAGSDAUER</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">
            Dieser Vertrag tritt am {{ quoteRequest.dateUpdate|date('d/m/Y') }} mit vollständiger Unterzeichnung
            sämtlicher Parteien in Kraft und wird für die Dauer eines Jahres geschlossen. Wird der Vertrag nach einem
            Jahr nicht gekündigt, so verlängert sich dieser automatisch auf eine unbefristete Zeit. Eine Kündigung
            dieses Vertrages bedarf der Schriftform und kann frühestens nach einem Jahr und unter Beachtung einer
            dreimonatigen Kündigungsfrist eingereicht werden.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p>Bei groben Verstössen gegen die Bedingungen dieses Vertrages, insbesondere in Bezug auf die Bestimmungen des
            DSG und der Geheimhaltung über den Inhalt der zu vernichtenden Datenträger, oder bei Erschwerung der
            Überwachung ist eine fristlose Kündigung sowohl durch den Auftraggeber als auch durch den Auftragnehmer
            möglich.
        </p>
    </div>

    <!-- article 10 -->
    <p class="center-text mb-20 mt-30">§ 10 – SONSTIGE BESTIMMUNGEN</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Für die Dauer der Gültigkeit dieses Vertrages beauftragt der Auftraggeber aus versicherungs-
            und haftpflichtrechtlichen Gründen ausschliesslich den Auftragnehmer mit der Abholung und Vernichtung seiner
            Datenträger.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Durch die Ungültigkeit einzelner Bestimmungen dieses Vertrages wird die Gültigkeit der übrigen
            Bestimmungen nicht berührt.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p class="mb-20">Falls eine Bestimmung dieses Vertrages der Rechtsgültigkeit entbehrt und/oder eine Lücke im
            Vertrag besteht, so sollen insoweit angemessene Regelungen gelten, die dem am nächsten kommen, was nach Sinn
            und Zweck dieses Vertrages gewollt ist.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p class="mb-20">Änderungen und Ergänzungen dieses Vertrages bedürfen der Schriftform.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p class="mb-20"><u>Gerichtsstand ist Zürich</u>. Bei Streitigkeiten über eine Auslegung dieses Vertrages wird
            zunächst eine gütliche Einigung angestrebt.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p class="mb-20">LDas nach erfolgter Vernichtung der Datenträger anfallende Endprodukt geht in das Eigentum des
            Auftragnehmers über.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>7°)</p>
        <p>Der vorliegende Vertrag ersetzt sämtliche zuvor bestehenden Verträgen und Vereinbarungen.</p>
    </div>

    <div class="flex contrat__signature" style="margin-top: 60px;">
        <div>
            <p class="mb-30">Ort und Datum</p>
            <p class="bold mb-30">{{ quoteRequest.businessName }}</p>
            <p class="mb-30">{{ quoteRequest.signatoryFirstName1 }} {{ quoteRequest.signatoryLastName1 }}<br>
                {{ quoteRequest.signatoryTitle1 }}</p>
            <p >{{ quoteRequest.signatoryFirstName2 }} {{ quoteRequest.signatoryLastName2 }}<br>
                {{ quoteRequest.signatoryTitle2 }}</p>
        </div>
        <div>
            <p class="mb-30">Basel, {{ quoteRequest.dateUpdate|date('d/m/Y') }}</p>
            <p class="bold mb-30">REISSWOLF Aktenvernichtungs-AG</p>
            <p class="mb-30">Jean Keller<br>
                Geschäftsführer</p>
            <p>Florian Dolder<br>
                Vertriebsleiter</p>
        </div>
    </div>

    {#Prévoir une seconde case de signature pour un second signataire client.#}
    {#    <div class="flex mt-30 contrat__signature">#}
    {#        <div>#}
    {#            <p class="mb-20">Ville de la Raison sociale</p>#}
    {#            <p>Raison sociale<br>#}
    {#                Puis nom du client<br>#}
    {#                Titre du client</p>#}
    {#        </div>#}
    {#    </div>#}

</div>
