<style type="text/css">
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <div class="flex space-between bold">
        <h2>ANLAGE 1 </h2>
        <p class="bold mb-20">Kunden-Nr : R{{ quoteRequest.postalCode.zone }} - {{ quoteRequest.customerId }}</p>
        {#<p>{% if quoteRequest.customerId is defined %}N°{{ quoteRequest.customerId }}{% endif %}</p>#}
    </div>
    <p class="mb-20">zum Vertrag vom {{ quoteRequest.dateUpdate|date('d/m/Y') }} zwischen der</p>
    <p><strong>{{ quoteRequest.businessName }}</strong></p>
    <p>und</p>
    <p class="bold mb-30">REISSWOLF Aktenvernichtungs-AG</p>

    <h3 style="margin-top: 60px;">ANSPRECHPARTNER</h3>

    {#INTERLOCUTEUR 1#}
    <p class="bold mt-20">Reisswolf Aktenvernichtungs-AG :</p>
    <div class="flex">
        <div style="margin-right: 30px;">
            <p style="text-align: left;">Herr&nbsp;Nico Gemelli&nbsp;(Vertriebsleiter)</p>
            <p>Herr&nbsp;Jean Keller (Geschäftsführer)</p>
        </div>
        <div>
            <p>Tél.&nbsp;:&nbsp;+41 61 386 96 66</p>
            <p>Tél.&nbsp;: +41 61 386 96 68</p>
            <p>E-Mail&nbsp;:&nbsp;basel@reisswolf.ch</p>
        </div>
    </div>

    <p class="bold mt-20">Datenschutzbeauftragter :</p>
    <div class="flex">
        <div style="margin-right: 30px;">
            <p style="text-align: left;">Frau&nbsp;Saskia&nbsp;Strahberger&nbsp;(DPO)</p>
        </div>
        <div>
            <p>Tél.&nbsp;:&nbsp;+41 61 511 25 38</p>
            <p>E-Mail&nbsp;:&nbsp;dpo@reisswolf.ch</p>
        </div>
    </div>

    {#INTERLOCUTEUR 2#}
    <p class="bold mt-20 mb-20">Ansprechpartner {{ quoteRequest.businessName }}</p>
    {#ajouter dans le formulaire une possibilité de saisir le nom du signataire N°2)
    Et donc reprendre ici les deux signataires#}
    <div class="flex">
        <div style="margin-right: 30px;">
            <p  style="text-align: left;">
                {% if quoteRequest.civility == 'M' %}
                {{ 'General.M'|trans({}, 'messages', 'de') }}
                {% elseif quoteRequest.civility == 'Mme' %}
                {{ 'General.Mme'|trans({}, 'messages', 'de') }}
                {% endif %}  {{ quoteRequest.firstName }} {{ quoteRequest.lastName }}
            </p>
        </div>
        <div>
            <p>Tél.&nbsp;:&nbsp;{{quoteRequest.phone}}</p>
            <p>E-Mail&nbsp;:&nbsp;{{ quoteRequest.email }}</p>
        </div>
    </div>
</div>
