{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/check.svg')) }}" width="60px" height="60px"
          border="0" class="picto-header">
 {% endblock %}

{% block title_header %}
    Nouvelle commande pour déchets de chantier
{% endblock %}

{% block subtitle_header %}
    Commande Chantier - N° {{ productChantierOrder.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <table class="newRequestEmailTable content-email-detail" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="text-align: right">
        <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6); text-align: center;">
            <td style="padding-bottom: 10px">
                Détail de la commande N° {{ productChantierOrder.id|formatId(6) }}
            - {{ productChantierOrder.dateCreation|date('d/m/Y H:i:s') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.BusinessName'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.businessName }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.BusinessLine'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.businessLine.name }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.Civility'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.civility }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.LastName'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.lastName }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.FirstName'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.firstName }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.Function'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.function }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.Email'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.email }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.ProductChantierOrder.Phone'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ productChantierOrder.phone }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <tr>
        <td class="footer-repondre-title" style="padding: 15px;">
            <a href="{{ absolute_url(path("paprec_commercial_productChantierOrder_view", {id: productChantierOrder.id})) }}">
                Consulter la commande
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

