{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

{% block css_rules %}
    <style>
        .btn {
            border-radius: 3px;
            padding: 5px 15px;
        }
    </style>
{% endblock %}

 {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/check.svg')) }}" width="60px" height="60px"
          border="0" class="picto-header">
 {% endblock %}

{% block title_header %}
    Merci pour votre commande
{% endblock %}

{% block subtitle_header %}
    Commande Chantier - N° {{ productChantierOrder.id|formatId(6) }}
{% endblock %}

{% block main_content %}
<table id="mainContentTable" class="content-email-detail" border="0" cellpadding="8" cellspacing="0" width="100%"
       style="text-align: center; color: {{ blue1 }}; font-weight: bold;">
    <tr>
        <td>
            {{ productChantierOrder.civility }} {{ productChantierOrder.firstName }} {{ productChantierOrder.lastName }}
            ,
        </td>
    </tr>
    <tr>
        <td>
            Nous vous remercions pour votre commande et de l'intérêt que vous nous
            portez.
        </td>
    </tr>

    <tr style="color: {{ green1 }}; border-top: 1px solid rgba(55, 65, 131, 0.6);">
        <td>
            Voici ci-joint la facture de la commande que vous avez réalisée le {{ productChantierOrder.dateCreation|localizeddate('full', 'none', app.request.locale) }}.
        </td>
    </tr>
    <tr>
        <td>
            Cordialement
            <br>
            L'équipe Paprec - EasyRecyclage
            <br>

            <a href="www.easyrecyclage.com">www.easyrecyclage.com</a>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 25px;">
            <a href="#">
                <a href="{{ paprec_public_site_url}}/catalogue" target="_blank"><button class="btn btn-green" style="margin-right: 25px">Découvrez nos équipements</button></a>

            </a>
            <a href="#">
                <a href="{{ paprec_public_site_url}}/store-locator" target="_blank"><button class="btn btn-blue">Trouvez une agence</button></a>

            </a>
        </td>
    </tr>
</table>
{% endblock %}

{% block footer %}
    <tr class="flex-footer">
        <td>
            <img alt="Logo" src="{{ absolute_url(asset('build/static/logo.png')) }}" width="100px"
                 style="float:left;margin-bottom: 10px;"
                 border="0">
        </td>
        <td class="footer-social-title">
            Retrouvez-nous
        </td>
        <td class="flex-footer">
            <a href="https://www.youtube.com/user/PaprecGroup" target="_blank"><img alt="Logo" src="{{ absolute_url(asset('build/static/YT.png')) }}" width="60px" height="60px"
                 style="margin-right: 5px;" border="0"></a>

            <a href="https://twitter.com/paprec_group" target="_blank"><img alt="Logo" src="{{ absolute_url(asset('build/static/TW.png')) }}" width="60px" height="60px"
                 style="margin-right: 5px;" border="0"></a>

            <a href="https://www.linkedin.com/company/paprec" target="_blank"><img alt="Logo" src="{{ absolute_url(asset('build/static/IN.png')) }}" width="60px" height="60px" border="0"></a>

        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique, veuillez ne pas y répondre.
        </td>
    </tr>
    <tr>
        <td>
            © 2018 Paprec Group
        </td>
    </tr>
{% endblock %}

