{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ProductD3EOrder.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.ProductD3EOrder.ProductD3EOrders'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialProductD3EOrderForm" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" id="submitFormInput" name="submitForm" value="">
        <input type="hidden" id="selectedProductInput" name="selectedProductId" value="">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.ProductD3EOrder.AddLine'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-productD3EOrderLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.ProductD3EOrder.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-productD3EOrderLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.ProductD3EOrder.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.ProductD3EOrder.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductD3EOrderLine.ProductName'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.productD3E, {'attr': {'class': 'form-control select-product'}}) }}
                                        {{ form_errors(form.productD3E) }}
                                    </div>
                                </div>

                                <div class="form-group no-gutters">
                                    <label class="form-label">{{ 'Commercial.ProductD3EOrderLine.Quantity'|trans }}</label>
                                    <div class="form-content col-md-6">
                                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductD3EOrderLine.OptHandling'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.optHandling) }}
                                        {{ form_errors(form.optHandling) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductD3EOrderLine.OptSerialNumberStmt'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.optSerialNumberStmt) }}
                                        {{ form_errors(form.optSerialNumberStmt) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductD3EOrderLine.OptDestruction'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.optDestruction) }}
                                        {{ form_errors(form.optDestruction) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-productD3EOrderLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.ProductD3EOrder.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-productD3EOrderLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.ProductD3EOrder.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
    </div>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-productD3EOrderLine-save-button').on('click', function () {
                $('#commercialProductD3EOrderForm').submit();
            });


            $('.commercial-productD3EOrderLine-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_productD3EOrder_view", { id: productD3EOrder.id }) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.ProductD3EOrder.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });
        });
    </script>
{% endblock %}