{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Type.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.Type.Types'|trans }}
{% endblock %}

{% block main_content %}

    <form id="catalogTypeForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Catalog.Type.Edit'|trans }}
                        #{{ type.id|formatId(6) }}
                    </h4>
                    <div class="float-right">

                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-type-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.Type.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-type-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.Type.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Catalog.Type.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Type.Name'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-type-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.Type.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-type-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.Type.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-type-save-button').on('click', function () {

                $('#catalogTypeForm').submit();

            });


            $('.catalog-type-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_type_view", {id: type.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Catalog.Type.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
