{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.ProductD3E.View.Packaged'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.ProductD3E.ProductD3Es'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.ProductD3E.View.Packaged'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_catalog_productD3E_packaged_edit", {id: productD3E.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.ProductD3E.Edit.Packaged'|trans }}</a>
                    <a id="catalogProductRemoveButton" href="javascript:void(0);" class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.ProductD3E.Remove.Packaged'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_catalog_productD3E_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.ProductD3E.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.ProductD3E.Informations'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            {#
                                Affichage des informations du produit
                            #}
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.Name'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.name }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.SubName'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.subName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.Description'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.description|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.Dimensions'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.dimensions|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.Reference'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.reference }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.AvailablePostalCodes'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.availablePostalCodes|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.Position'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.position }}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.PackageUnitPrice'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {{ productD3E.packageUnitPrice|formatAmount(null, app.request.locale) }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 col-form-label">{{ 'Catalog.ProductD3E.IsDisplayed'|trans }}</label>
                                    <label class="col-form-label col-md-7">
                                        {% if productD3E.isDisplayed == 1 %}Oui{% else %}Non{% endif %}
                                    </label>
                                </div>
                            </div>
                            {#
                                Affichage des photos
                            #}
                            <div class="col-md-6">
                                {#
                                    Affichage des photos Pictos
                                #}
                                <div class="col-md-12 no-gutters">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'Catalog.ProductD3E.Picto'|trans }}
                                            <div class="float-right">
                                                <button class="btn btn-sm btn-outline-primary"
                                                        data-target="#uploadPictureModal" data-toggle="modal"
                                                        data-type="PICTO" id="openModalUploadPicture">
                                                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.ProductD3E.AddPicture'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-group">
                                                {% if (productD3E.pictos) %}
                                                    {% for picture in productD3E.pictos %}
                                                        <div class="card card-sec">
                                                            <div class="card-header">
                                                                <div class="float-left"> {{ 'Catalog.ProductD3E.Picto'|trans }}</div>
                                                                <div class="dropdown float-right">
                                                                    <button class="p-0 btn btn-sm btn-light dropdown-toggle btn-sm"
                                                                            type="button" id="{{ picture.id }}"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <i class="fa fa-xs fa-cog"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu"
                                                                         aria-labelledby="{{ picture.id }}">
                                                                        <button id="pictureEditButton"
                                                                                class="dropdown-item"
                                                                                type="button"
                                                                                data-target="#editPictureModal"
                                                                                data-toggle="modal"
                                                                                data-type="PICTO"
                                                                                data-id="{{ picture.id }}">
                                                                            <i class="fa fa-xs fa-pencil-alt"></i> {{ 'General.Edit'|trans }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item removePictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="checkboxPicto"
                                                                     style="background-image: url({{ asset('/uploads/pictos/' ~ picture.path) }}"></div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Affichage des photos PilotPicture
                                #}
                                <div class="col-md-12 mt-2 no-gutters">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'Catalog.ProductD3E.PilotPicture'|trans }}
                                            <div class="float-right">
                                                <button class="btn btn-sm btn-outline-primary"
                                                        data-target="#uploadPictureModal" data-toggle="modal"
                                                        data-type="PILOTPICTURE" id="openModalUploadPicture">
                                                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.ProductD3E.AddPicture'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-group">
                                                {% if (productD3E.pilotPictures) %}
                                                    {% for picture in productD3E.pilotPictures %}
                                                        <div class="card card-sec">
                                                            <div class="card-header">
                                                                <div class="float-left"> {{ 'Catalog.ProductD3E.PilotPicture'|trans }}</div>
                                                                <div class="dropdown float-right">
                                                                    <button class="p-0 btn btn-sm btn-light dropdown-toggle btn-sm"
                                                                            type="button" id="{{ picture.id }}"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <i class="fa fa-xs fa-cog"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu"
                                                                         aria-labelledby="{{ picture.id }}">
                                                                        <button id="pictureEditButton"
                                                                                class="dropdown-item"
                                                                                type="button"
                                                                                data-target="#editPictureModal"
                                                                                data-toggle="modal"
                                                                                data-type="PILOTPICTURE"
                                                                                data-id="{{ picture.id }}">
                                                                            <i class="fa fa-xs fa-pencil-alt"></i> {{ 'General.Edit'|trans }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item setPictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-exchange-alt"></i> {{ 'Catalog.ProductD3E.SetSecondaryPicture'|trans }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item removePictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <img class="card-img-top"
                                                                 src="{{ asset('/uploads/pictos/' ~ picture.path) }}"
                                                                 alt="{{ 'Catalog.ProductD3E.Pictures'|trans }}">
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#
                                    Affichage photo de type Picture
                                #}
                                <div class="col-md-12 mt-2 no-gutters">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'Catalog.ProductD3E.Pictures'|trans }}
                                            <div class="float-right">
                                                <button class="btn btn-sm btn-outline-primary"
                                                        data-target="#uploadPictureModal" data-toggle="modal"
                                                        data-type="PICTURE" id="openModalUploadPicture">
                                                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.ProductD3E.AddPicture'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-group">
                                                {% if (productD3E.picturesPictures) %}
                                                    {% for picture in productD3E.picturesPictures %}
                                                        <div class="card card-sec">
                                                            <div class="card-header">
                                                                <div class="float-left"> {{ 'Catalog.ProductD3E.Pictures'|trans }}</div>
                                                                <div class="dropdown float-right">
                                                                    <button class="p-0 btn btn-sm btn-light dropdown-toggle btn-sm"
                                                                            type="button" id="{{ picture.id }}"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <i class="fa fa-xs fa-cog"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu"
                                                                         aria-labelledby="{{ picture.id }}">
                                                                        <button id="pictureEditButton"
                                                                                class="dropdown-item"
                                                                                type="button"
                                                                                data-target="#editPictureModal"
                                                                                data-toggle="modal"
                                                                                data-type="PICTURE"
                                                                                data-id="{{ picture.id }}">
                                                                            <i class="fa fa-xs fa-pencil-alt"></i> {{ 'General.Edit'|trans }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item setPilotPictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-exchange-alt"></i> {{ 'Catalog.ProductD3E.PilotPicture'|trans }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item removePictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body" style="text-align: center">
                                                                <img class="card-img-top"
                                                                     style="max-width: 60px; width: 60px;"
                                                                     src="{{ asset('/uploads/pictos/' ~ picture.path) }}"
                                                                     alt="{{ 'Catalog.ProductD3E.Pictures'|trans }}">
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#
                            Modal d'affichage des formulaires
                        #}
                        <div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog"
                             aria-labelledby="Upload Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formAddPicture" name="formAddPicture"
                                            {% set params = {id: productD3E.id, type: 'Picture' } %}
                                          action="{{ path("paprec_catalog_productD3E_addPicture", params) }}"
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="uploadPictureModalTitle">
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    {{ 'Catalog.Picture.Path'|trans }}
                                                    <span id="uploadPictureSizeInfo">

                                                    </span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddPicture.path, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddPicture.path) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'|trans }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formAddPictureSubmitButton">
                                                {{ 'General.Save'|trans }}
                                            </button>

                                        </div>
                                        {{ form_rest(formAddPicture) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editPictureModal" tabindex="-1" role="dialog"
                             aria-labelledby="Edit Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formEditPicture" name="formEditPicture"
                                          action=""
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPictureModalTitle">
                                                {{ 'Catalog.ProductD3E.EditPicto'|trans }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    {{ 'Catalog.Picture.Path'|trans }}
                                                    <span id="editPictureSizeInfo">

                                                    </span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formEditPicture.path, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formEditPicture.path) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'|trans }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formEditPictureSubmitButton">
                                                {{ 'General.Save'|trans }}
                                            </button>
                                        </div>
                                        {{ form_rest(formEditPicture) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#
                Card d'affichage des infos système
            #}
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ 'Catalog.ProductD3E.System-informations'|trans }}</h5>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">{{ 'Catalog.ProductD3E.Date-creation'|trans }}</label>
                            <label class="col-form-label col-md-8">
                                {{ productD3E.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                            </label>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">{{ 'Catalog.ProductD3E.Date-update'|trans }}</label>
                            <label class="col-form-label col-md-8">
                                {{ productD3E.dateUpdate is empty ? "" : productD3E.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script>
            $(function () {

                $('#catalogProductRemoveButton').on('click', function () {

                    var url = "{{ path("paprec_catalog_productD3E_remove", {id: productD3E.id}) }}";

                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.ProductD3E.Confirm-remove'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            $(location).attr('href', url);
                        }
                    });

                });

                $('.catalog-ProductD3E-save-button').on('click', function () {

                    $('#catalogProductD3EForm').submit();

                });


                // Au chargement de la modal d'ajout d'une photo
                // On met à jour le titre de la modal d'ajout de photo en fonction du type que l'on ajoute
                // On modifie aussi l'url d'action pour passer en paramètre le type de photo à ajouter
                $('#uploadPictureModal').on('show.bs.modal', function (e) {
                    var type = $(e.relatedTarget).data('type');
                    var actionUrl = "{{ path("paprec_catalog_productD3E_addPicture", {id: productD3E.id, type: 'typeTmp'}) }}";
                    var sizeInfo = document.getElementById('uploadPictureSizeInfo');

                    actionUrl = actionUrl.replace('typeTmp', type);
                    document.formAddPicture.action = actionUrl;
                    if (type === 'Picto') {
                        type = "{{ 'Catalog.ProductD3E.Picto'|trans }}";
                        sizeInfo.innerText = '(125 x 120 pixels)';
                    }
                    var title = document.getElementById('uploadPictureModalTitle');
                    title.innerText = type;
                });

                // Au chargement de la modal d'édition d'une photo
                // On modifie l'URL d'action du formulaire pour passer en paramètre l'ID de la photo modifiée
                $('#editPictureModal').on('show.bs.modal', function (e) {
                    var pictureID = $(e.relatedTarget).data('id');
                    var type = $(e.relatedTarget).data('type');
                    var actionUrl = "{{ path("paprec_catalog_productD3E_editPicture", {id: productD3E.id, pictureID: 'pictureTmp'}) }}";
                    var sizeInfo = document.getElementById('editPictureSizeInfo');

                    actionUrl = actionUrl.replace('pictureTmp', pictureID);
                    document.formEditPicture.action = actionUrl;
                    if (type === 'Picto') {
                        type = "{{ 'Catalog.ProductD3E.Picto'|trans }}";
                        sizeInfo.innerText = '(125 x 120 pixels)';
                    }
                    var title = document.getElementById('editPictureModalTitle');
                    title.innerText = type;
                });

                $('.removePictureButton').on('click', function () {
                    picId = $(this).data('id');
                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.ProductD3E.Confirm-remove-picture'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            var url = "{{ path("paprec_catalog_productD3E_removePicture", {id: productD3E.id, pictureID: 'pictureTmp'}) }}";
                            url = url.replace('pictureTmp', picId);
                            $(location).attr('href', url);
                        }
                    });
                });

                // Change le type de la Picture en PilotPicture
                $('.setPilotPictureButton').on('click', function () {
                    picId = $(this).data('id');
                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.ProductD3E.Confirm-set_pilot'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            var url = "{{ path("paprec_catalog_productD3E_setPilotPicture", {id: productD3E.id, pictureID: 'pictureTmp'}) }}";
                            url = url.replace('pictureTmp', picId);
                            $(location).attr('href', url);
                        }
                    });
                });

                // Change le type de PilotPicture en Picture
                $('.setPictureButton').on('click', function () {
                    picId = $(this).data('id');

                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.ProductD3E.Confirm-set_picture'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            var url = "{{ path("paprec_catalog_productD3E_setPicture", {id: productD3E.id, pictureID: 'pictureTmp'}) }}";
                            url = url.replace('pictureTmp', picId);
                            $(location).attr('href', url);
                        }
                    });
                });

                $('#formAddPictureSubmitButton').on('click', function () {
                    $('#formAddPicture').submit();
                });

                $('#formEditPictureSubmitButton').on('click', function () {
                    $('#formEditPicture').submit();
                });
            });
        </script>

    {% endblock %}
