<style type="text/css">
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <div class="flex space-between bold">
        <h2>ANLAGE 1 </h2>
        <p class="bold mb-20">Kunden-Nr : R{{ quoteRequest.postalCode.zone }} - {{ quoteRequest.customerId }}</p>
        {#<p>{% if quoteRequest.customerId is defined %}N°{{ quoteRequest.customerId }}{% endif %}</p>#}
    </div>
    <p class="mb-20">zum Vertrag vom {{ quoteRequest.dateUpdate|date('d/m/Y') }} zwischen der</p>
    <p>{{ quoteRequest.businessName }}</p>
    <p>und</p>
    <p class="bold mb-30">REISSWOLF Aktenvernichtungs-AG</p>

    <h3 style="margin-top: 60px;">ANSPRECHPARTNER</h3>

    {#INTERLOCUTEUR 1#}
    <p class="bold mt-20">Reisswolf Aktenvernichtungs-AG :</p>
    <div class="flex">
        <div style="margin-left: 30px; margin-right: 30px;">
            <p>Frau Arminka Lezic (Vertriebsberaterin)</p>
            <p>Herr André Nadler (Geschäftsführer)</p>
        </div>
        <div>
            <p>Tél. : +41 41 448 38 66</p>
            <p>Tél. : +41 41 448 38 66</p>
            <p>E-Mail : luzern@reisswolf.ch</p>
        </div>
    </div>

    <p class="bold mt-20">Datenschutzbeauftragter :</p>
    <div class="flex">
        <div style="margin-left: 30px; margin-right: 30px;">
            <p>Frau Saskia Strahberger (DPO)</p>
        </div>
        <div>
            <p>Tél. : +41 61 511 25 38</p>
            <p>E-Mail : dpo@reisswolf.ch</p>
        </div>
    </div>

    {#INTERLOCUTEUR 2#}
    <p class="bold mt-20 mb-20">Ansprechpartner {{ quoteRequest.businessName }}</p>
    {#ajouter dans le formulaire une possibilité de saisir le nom du signataire N°2)
    Et donc reprendre ici les deux signataires#}
    <div class="flex">
        <div style="margin-left: 30px; margin-right: 30px;">
            <p>{{quoteRequest.civility}} {{ quoteRequest.firstName }} {{ quoteRequest.lastName }}</p>
        </div>
        <div>
            <p>Tél. : {{quoteRequest.phone}}</p>
            <p>E-Mail : {{ quoteRequest.email }}</p>
        </div>
    </div>
</div>
