{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.ProductD3E.AddType'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.ProductD3E.ProductD3Es'|trans }}
{% endblock %}

{% block main_content %}

    <form id="catalogProductD3EForm" action="" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.ProductD3E.AddType'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success catalog-productD3ETypeLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.ProductD3E.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger catalog-productD3ETypeLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.ProductD3E.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Catalog.ProductD3E.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">{{ 'Catalog.Type.Name'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.type, {'attr': {'class': 'form-control select-product'}}) }}
                                        {{ form_errors(form.type) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">{{ 'Catalog.ProductD3EType.UnitPrice'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.unitPrice, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.unitPrice) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-productD3ETypeLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.ProductD3E.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger catalog-productD3ETypeLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.ProductD3E.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>


{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            $('.catalog-productD3ETypeLine-save-button').on('click', function () {
                $('#catalogProductD3EForm').submit();
            });


            $('.catalog-productD3ETypeLine-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_productD3E_view", { id: productD3E.id }) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Catalog.ProductD3E.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
