{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.PriceListD3E.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.PriceListD3E.PriceListD3Es'|trans }}
{% endblock %}

{% block main_content %}

<form id="formEditPriceListLineD3E" name="formEditPriceListLineD3E"
      action="" method="post">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="card col-md-12">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.PriceListLineD3E.Edit'|trans }}
                </h4>
                <div class="float-right">
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-success catalog-priceListLineD3Es-save-button"><i
                                class="fa fa-xs fa-check"></i> {{ 'Catalog.PriceListD3E.Save'|trans }}</a>
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-danger catalog-priceListLineD3Es-cancel-button"><i
                                class="fa fa-xs fa-close"></i> {{ 'Catalog.PriceListD3E.Cancel'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.PriceListLineD3E.PostalCodes'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.postalCodes, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.postalCodes) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.PriceListLineD3E.Agency'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.agency) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.PriceListLineD3E.MinQuantity'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.minQuantity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.minQuantity) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.PriceListLineD3E.MaxQuantity'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.maxQuantity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.maxQuantity) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">

                        <div class="form-label">{{ 'Catalog.PriceListLineD3E.Price'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-success catalog-priceListLineD3Es-save-button"><i
                                class="fa fa-xs fa-check"></i> {{ 'Catalog.PriceListD3E.Save'|trans }}</a>
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-danger catalog-priceListLineD3Es-cancel-button"><i
                                class="fa fa-xs fa-close"></i> {{ 'Catalog.PriceListD3E.Cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-priceListLineD3Es-save-button').on('click', function () {
                $('#formEditPriceListLineD3E').submit();
            });


            $('.catalog-priceListLineD3Es-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_priceListD3E_view", {id: priceListD3E.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Catalog.ProductD3E.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
