{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ProductDIQuote.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Commercial.ProductDIQuote.ProductDIQuotes'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- FLASH MESSAGE -->
        <div class="view-box">

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ ('Commercial.ProductDIQuote.Error.' ~ flashMessage)|trans }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ ('Commercial.ProductDIQuote.Success.' ~ flashMessage)|trans }}</div>
            {% endfor %}
        </div>
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-productDIQuote"></i> {{ 'Commercial.ProductDIQuote.View'|trans }}
                </h4>
                <div class="float-right">
                    <a id="sendGeneratedQuoteButton" href="javascript:void(0);" class="btn btn-sm btn-success"><i
                                class="fa fa-xs fa-envelope"></i> {{ 'Commercial.ProductDIQuote.Send-quote'|trans }}
                    </a>
                    <a href="{{ path("paprec_commercial_productDIQuote_edit", {id: productDIQuote.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Commercial.ProductDIQuote.Edit'|trans }}</a>
                    <a id="commmecialProductDIQuoteRemoveButton" href="javascript:void(0);"
                       class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Commercial.ProductDIQuote.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_commercial_productDIQuote_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Commercial.ProductDIQuote.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIQuote.Informations-FO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.BusinessName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.BusinessLine'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIQuote.businessLine %}
                                            <a href="{{ path('paprec_commercial_businessLine_view', {id: productDIQuote.businessLine.id}) }}">{{ productDIQuote.businessLine.name }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Civility'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.civility }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.LastName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.lastName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.FirstName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.firstName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Function'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.function }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Email'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.email }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Phone'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.phone }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PreferredContact'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.QuoteRequest.' ~ productDIQuote.preferredContact|capitalize)|trans }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.QuoteStatus'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.QuoteStatusList.' ~ productDIQuote.quoteStatus)|trans }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.TotalAmount'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.totalAmount|formatAmount('EUR', app.request.locale) }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.HeadOfficeAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.headofficeAddress }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.headofficePostalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.headofficeCity }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.SiteAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.address }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.postalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productDIQuote.city }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIQuote.Informations-BO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.GeneratedTurnover'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.generatedTurnover|formatAmount('EUR', app.request.locale) }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Agency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIQuote.agency %}
                                            <a href="{{ path('paprec_commercial_agence_view', {id: productDIQuote.agency.id}) }}">{{ productDIQuote.agency }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Summary'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.summary|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Frequency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIQuote.frequency == 'regular' %}Régulier {% else %}Ponctuel{% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Tonnage'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.tonnage }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.KookaburaNumber'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIQuote.kookaburaNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.UserInCharge'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIQuote.userInCharge %}
                                            <a href="{{ path('paprec_user_user_view', {id: productDIQuote.userInCharge.id}) }}">{{ productDIQuote.userInCharge }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                {{ 'Commercial.ProductDIQuote.ProductsList'|trans }}
                            </h5>
                            <div class="float-right">

                                <a href="{{ path('paprec_commercial_productDIQuote_addLine', {id: productDIQuote.id}) }}"
                                   class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.ProductDIQuote.AddLine'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="productDIQuoteLinesDatatable"
                                   class="table table-striped table-bordered table-hover"
                                   cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Commercial.ProductDIQuoteLine.ProductName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIQuoteLine.CategoryName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIQuoteLine.UnitPrice'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIQuoteLine.Quantity'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIQuoteLine.TotalAmount'|trans }}</th>

                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for productDIQuoteLine in productDIQuote.productDIQuoteLines %}
                                    <tr>
                                        <td>{{ productDIQuoteLine.id|formatId(6) }}</td>
                                        <td>{{ productDIQuoteLine.productName }}</td>
                                        <td>{{ productDIQuoteLine.categoryName }}</td>
                                        <td>{{ productDIQuoteLine.unitPrice|formatAmount('EUR', app.request.locale) }}</td>
                                        <td>{{ productDIQuoteLine.quantity }}</td>
                                        <td>{{ productDIQuoteLine.totalAmount|formatAmount('EUR', app.request.locale) }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('paprec_commercial_productDIQuote_editLine', {id: productDIQuote.id, quoteLineId: productDIQuoteLine.id}) }}"
                                               class="btn btn-sm btn-warning btn-sm mx-1"
                                               data-id="{{ productDIQuoteLine.id }}">
                                                <i class="fa fa-xs fa-edit"></i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-sm btn-danger btn-sm commercialProductDIQuoteLineRemoveButton"
                                               data-id="{{ productDIQuoteLine.id }}">
                                                <i class="fa fa-xs fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIQuote.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Date-creation'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productDIQuote.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIQuote.Date-update'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productDIQuote.dateUpdate is empty ? "" : productDIQuote.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>
                $(function () {

                    $('#commmecialProductDIQuoteRemoveButton').on('click', function () {

                        var url = "{{ path("paprec_commercial_productDIQuote_remove", {id: productDIQuote.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductDIQuote.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });
                    $('.commercialProductDIQuoteLineRemoveButton').on('click', function () {
                        quoteLineId = $(this).data('id');
                        var url = "{{ path("paprec_commercial_productDIQuote_removeLine", {id: productDIQuote.id, quoteLineId: 'quoteLineIdTmp'}) }}".replace('quoteLineIdTmp', quoteLineId);


                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductDIQuoteLine.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });

                    $('#sendGeneratedQuoteButton').on('click', function () {
                        var url = "{{ path("paprec_commercial_productDIQuote_sendGeneratedQuote", {id: productDIQuote.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductDIQuote.Confirm-send-quote'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });
                    })

                });
            </script>
        {% endblock %}
