{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.CustomizableArea.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.CustomizableArea.CustomizableAreas'|trans }}
{% endblock %}

{% block main_content %}

    <form id="catalogCustomizableAreaForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Catalog.CustomizableArea.Edit'|trans }} #{{ customizableArea.id|formatId(6) }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-customizableArea-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.CustomizableArea.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-customizableArea-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.CustomizableArea.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Catalog.CustomizableArea.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body no-gutters">
                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.CustomizableArea.Content'|trans }}</div>
                                    <div class="form-content checkbox-list">
                                        {{ form_widget(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.CustomizableArea.IsDisplayed'|trans }}</div>
                                    <div class="form-content">
                                        {% for radio in form.isDisplayed.children %}
                                            <div class="form__check ml-4">
                                                {{ form_widget(radio) }}
                                                {{ form_label(radio) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-customizableArea-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.CustomizableArea.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-customizableArea-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.CustomizableArea.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-customizableArea-save-button').on('click', function () {

                $('#catalogCustomizableAreaForm').submit();

            });

            $('.catalog-customizableArea-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_customizableArea_view", {id: customizableArea.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Catalog.CustomizableArea.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });coll

            });

        });
    </script>
{% endblock %}
