{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.CustomizableArea.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.CustomizableArea.CustomizableAreas'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.CustomizableArea.View'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_catalog_customizableArea_edit", {id: customizableArea.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.CustomizableArea.Edit'|trans }}</a>
                    <a id="catalogCustomizableAreaRemoveButton" href="javascript:void(0);"
                       class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.CustomizableArea.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_catalog_customizableArea_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.CustomizableArea.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.CustomizableArea.Informations'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.CustomizableArea.Code'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ customizableArea.code }}
                                </label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.CustomizableArea.Content'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {% autoescape false %}
                                        {{ customizableArea.content }}
                                    {% endautoescape %}

                                </label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.CustomizableArea.IsDisplayed'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {% if customizableArea.isDisplayed == 1 %}Oui{% else %}Non{% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}

            <script>
                $(function () {

                    $('#catalogCustomizableAreaRemoveButton').on('click', function () {

                        var url = "{{ path("paprec_catalog_customizableArea_remove", {id: customizableArea.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Catalog.CustomizableArea.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });
                });
            </script>
        {% endblock %}
