{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block css_rules %}
     <style>
         .btn {
             border-radius: 3px;
             padding: 5px 15px;
         }
     </style>
 {% endblock %}

 {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/new_mail.svg')) }}" width="75px" height="75px" border="0"
          class="picto-header">
 {% endblock %}

{% block title_header %}
    Vous avez une nouvelle demande
{% endblock %}

{% block subtitle_header %}
    Formulaire {{ quoteRequestNonCorporate.customerType }} - N° {{ quoteRequestNonCorporate.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <table class="newRequestEmailTable content-email-detail" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="color: {{ blue1 }}; font-weight: bold;">
        <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6);">
            <td>
                Détail de la demande N° {{ quoteRequestNonCorporate.id|formatId(6) }}
                - {{ quoteRequestNonCorporate.dateCreation|date('d/m/Y H:i') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% if quoteRequestNonCorporate.businessName %}
            <tr>
                <td>
                    <div class="label">
                        {% if quoteRequestNonCorporate.customerType == 'Collectivité' %}
                            {{ 'Commercial.QuoteRequestNonCorporate.CollectivitePlaceholder'|trans }} :&nbsp;
                        {% else %}
                            {{ 'Commercial.QuoteRequestNonCorporate.BusinessName'|trans }} :&nbsp;
                        {% endif %}
                    </div>
                    <div class="value">
                        {{ quoteRequestNonCorporate.businessName }}
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if quoteRequestNonCorporate.locationsNumber %}
            <tr>
                <td>
                    <div class="label">
                        {{ 'Commercial.QuoteRequestNonCorporate.LocationsNumber'|trans }} :&nbsp;
                    </div>
                    <div class="value">
                        {{ quoteRequestNonCorporate.locationsNumber }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        {% endif %}
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.Civility'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {% if quoteRequestNonCorporate.civility == 'M' %}Monsieur{% else %}Madame{% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.LastName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.lastName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.FirstName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.firstName }}
                </div>
            </td>
        </tr>
        {% if quoteRequestNonCorporate.function %}
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.Function'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.function }}
                </div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.PostalCode'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.postalCode }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.Email'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.email }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.Phone'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.phone }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.Need'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ quoteRequestNonCorporate.need }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.QuoteRequestNonCorporate.AttachedFiles'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {% if quoteRequestNonCorporate.attachedFiles %}
                        <a href="{{ absolute_url(path('paprec_commercial_quoteRequestNonCorporate_downloadAttachedFiles', {id: quoteRequestNonCorporate.id})) }}">Pièces
                            jointes</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <tr>
        <td style="padding-top: 15px;" class="footer-repondre-title">
            Merci de répondre à cette demande sous 48h.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 15px;">
            <a href="{{ absolute_url(path("paprec_commercial_quoteRequestNonCorporate_edit", {id: quoteRequestNonCorporate.id})) }}">
                <button class="btn btn-green" style="margin-top: 15px;">
                    Mettre à jour le statut
                </button>
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

