{% extends "@PaprecPublic/Common/Base/base_index.html.twig" %}

{% block sidebar_info %}
    {{ render(controller('PaprecPublicBundle:Common:getSideBarInfo')) }}
{% endblock %}

{% block cta_panel %}{% endblock %}

{% block cinq_flux %}{% endblock %}

{% block main_content_index %}

    {% if cart.division is defined and cart.division in ['DI','CHANTIER'] %}
<!-- DEBUT step categories  -->
{# On compte le nombre de catégorie affichée #}
        {% set countCategories = 0 %}
        {% for category in categories %}
            {# pour chaque catégorie, si elle fait partie des displayedCategories alors on incrémente #}
            {% if category.id in cart.displayedCategories %}
                {% set countCategories = countCategories + 1 %}
            {% endif %}
        {% endfor %}
<div class="container__step">
    <div class="container__step-title">
        <h2>Ma solution recyclage</h2>
    </div>
    <div class="step step--index" id="anchor1">
        <div class="step__left step__left-first">
            <div class="step__title">
                {{ 'Public.Cart.MyTrash'|trans }}&nbsp;{{ 'Public.Cart.ToCollect'|trans }}
            </div>
            {% if countCategories > 1 %}
                <span>{{ countCategories }} {{ 'Public.Cart.SelectedCategories'|trans }}</span>
            {% elseif countCategories == 1 %}
                <span>{{ countCategories }} {{ 'Public.Cart.SelectedCategory'|trans }}</span>
            {% else %}
                <span class="step__title--grey">{{ 'Public.Cart.NoSelectedCategory'|trans }}</span>
            {% endif %}
        </div>
        <div class="step__right">
            <div class="products-container">
                {% for category in categories %}
                    <div class="product-container">
                        <div class="checkboxPicto categoryCheckboxPicto {% if category.id in cart.displayedCategories %} active {% endif %}"
                             id="categoryCheckboxPicto_{{ category.id }}"
                             data-url="{{ path('paprec_public_corp_' ~ cart.division|lower ~ '_subscription_addDisplayedCategory', {cartUuid: cart.id, categoryId: category.id}) }}"
                             style="background-image: url({{ asset('/uploads/pictos/' ~ category.picto) }})">

                            {{ category.name }}
                        </div>

                    </div>
                {% endfor %}
                {% if cart.division == 'DI' %}
                    <div class="product-container">
                        <a href="{{ path('paprec_public_corp_home_requestWriting_step1', {cartUuid: cart.id}) }}">
                            <div class="checkboxPicto categoryCheckboxPicto"
                                 style="background-image: url({{ asset('/build/static/autre_dechet.svg') }})">
                                {{ 'Public.Cart.OtherTrash'|trans }}
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- FIN step categories  -->
    {% elseif cart.division is defined and cart.division in ['D3E'] %}
    <div class="container__step">
        <div class="container__step-title">
            <h2>Ma solution recyclage</h2>
        </div>
        {% endif %}


        {% block products_panel %}
            <div class="step">
                <div class="step__left">
                    <div class="step__title">
                        {% block product_step_title %}{% endblock %}
                    </div>
                </div>
                <div class="step__right">
                    {% block products %}

                    {% endblock %}
                </div>

            </div>
        {% endblock %}
    </div>

    <div class="clearfix"></div>
    {% block cta_bottom_panel %} {% endblock %}
    {% endblock %}
