{% extends "@PaprecCommercial/Common/PDF/base_pdf_quote_products.html.twig" %}

{% block stylesheet %}
    <style type="text/css">

        #productsTable {
            border: 1px solid #2698d3;
        }
        #productsTable thead tr {
            background: #2698d3;
            color: white;
            text-align: center;
        }

        #productsTable tbody tr td {
            padding: 0 8px 0 8px;
            border: 1px solid #2698d3;
            color: #595959;
            font: bold 15px 'Times New Roman'
        }

        .col1 {
            width: 110px;
        }

        .col2 {
            width: 110px;
            text-align: center;
        }

        .col3 {
            width: 160px;
            text-align: center;
            vertical-align: middle;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .col4 {
            width: 150px
        }

        .col5 {
            width: 150px;
            text-align: center;
        }

        .col3 img {
            max-height: 150px;
            max-width: 160px;
        }
    </style>
{% endblock %}

{% block address %} {{ productDIQuote.address }}
    <br> {{ productDIQuote.postalCode }} {{ productDIQuote.city }} {% endblock %}

{% block products %}
    <table id="productsTable" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Matériel</th>
            <th>Déchets</th>
            <th colspan="2">Type de prestation</th>
            <th>Tarifs à partir de <br>€ HT</th>
        </tr>
        </thead>
        <tbody>
        {% for productDIQuoteLine in productDIQuote.productDIQuoteLines %}
            <tr>
                <td class="col1">
                    {{ productDIQuoteLine.quantity }} {{ productDIQuoteLine.productName }} <br>
                    {{ productDIQuoteLine.productDI.capacity }} {% autoescape false %}{{ productDIQuoteLine.productDI.capacityUnit }} {% endautoescape %}
                </td>
                <td class="col2"> {{ productDIQuoteLine.categoryName }} </td>
                <td class="col3">
                    {% if productDIQuoteLine.productDI.pictures|length > 0 %}
                        <img src="{% if productDIQuoteLine.productDI.pilotPictures|length > 0 %}{{ absolute_url('/uploads/pictos/' ~ productDIQuoteLine.productDI.pilotPictures[0].path) }}{% endif %}"
                             alt="#">
                    {% endif %}
                </td>
                <td class="col4">
                    - {{ productDIQuoteLine.productDI.description }}
                    <br>

                    - {{ productDIQuoteLine.productDI.dimensions }}
                </td>
                <td class="col5">
                    {{ productDIQuoteLine.totalAmount|formatAmount('EUR', app.request.locale) }} HT
                </td>
            </tr>
        {% endfor %}
        <tr style="height: 80px;">
            <td style="vertical-align: middle">TOTAL</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="col5" style="vertical-align: middle">{{ productDIQuote.totalAmount|formatAmount('EUR', app.request.locale) }} HT</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
