<style type="text/css">

    /* Header */

    .edw-header__status__item {
        width: 60px;
        height: 24px;
        font-size: 9px;
        text-align: center;
        text-transform: uppercase;
        background-color: #D8D8D8;
        color: #4A4A4A;
        border-radius: 3px;
        padding: 8px 0px 8px;
    }

    .status--passed {
        background-color: #DDE6FF;
        color: #072244;
        font-weight: 700;
    }

    .status--aborted {
        color: #D95040;
        background-color: #F7DCD9;
        font-weight: 700;
    }

    /* Body content */

    .edw-content {
        margin-top: 60px;
        color: #000000;
        line-height: 18px;
    }

    .edw-panel-group {
        margin-top: 20px;
    }

    .edw-panel-group > div {
        margin-right: 10px;
    }

    .edw-panel-group > div:last-child {
        margin-right: 0 !important;
    }

    .edw-panel {
        width: 317px;
        border-top: 5px solid #072244;
        border-right: 1px solid #4A4A4A;
        border-left: 1px solid #4A4A4A;
        border-bottom: 1px solid #4A4A4A;
        border-radius: 3px !important;
        overflow: hidden;
    }

    .edw-panel-small {
        height: 214px;
    }

    .edw-panel-medium {
        max-height: 390px;
        min-height: 280px;
    }

    .edw-panel-titlebar {
        height: 30px;
        border-bottom: 1px solid #4A4A4A;
        padding: 0 20px;
        font-weight: 700;
    }

    .edw-panel-content {
        border-color: #4A4A4A;
        padding: 10px;
    }

    /* PANELS */

    /* panel new project */
    .new-project .edw-panel-content {
        height: 235px;
        padding-top: 20px;
    }

    .new-project .label {
        width: 80px;
        font-weight: 700;
    }

    .new-project .inplace-text {
        width: 215px;
    }

    /* panel ressources */

    .resources span {
        display: block;
    }

    .resources table {
        border-collapse: separate;
        border-spacing: 0;
        width: 295px;
    }

    .resources th {
        padding: 0;
        height: 35px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        font-size: 12px;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        border: 1px solid #4A4A4A;
        border-right: 0px;
        border-bottom: 0px;
    }

    .resources tr:first-child {
        height: 40px;
    }

    .resources tr:first-child > th:first-child {
        border-top-left-radius: 3px;
    }

    .resources tr:first-child > th:last-child {
        border-top-right-radius: 3px;
    }

    .resources tr > th:last-child {
        border-right: 1px solid #4A4A4A;
    }

    .resources tr:last-child > th {
        border-bottom: 1px solid #4A4A4A;
    }

    .resources tr:last-child > th:first-child {
        border-bottom-left-radius: 3px;
    }

    .resources tr:last-child > th:last-child {
        border-bottom-right-radius: 3px;
    }


    /* panel b-case */

    .b-case .edw-panel-content {
        padding: 0;
    }

    .b-case .edw-panel-content > div {
        padding: 10px 20px;
        height: 53.5px;
    }

    /*.b-case .edw-panel-content > div:not(:last-child) {
        border-bottom: 1px solid #4A4A4A;
    }*/

    .border-bottom {
        border-bottom: 1px solid #4A4A4A;
    }

    .b-case .label {
        width: 80px;
        font-weight: 700;
        padding-top: 5px;
    }

    .b-case .inplace-text {
        width: 195px;
        text-align: right;
        font-weight: 700;
    }


    /* panel Main Objectives / Main Gains */

    .objectives ol {
        padding-left: 20px;
        list-style: none;
        counter-reset: my-awesome-counter;
        margin: 0;
        word-break: break-word;
        hyphens: auto;
    }

    .objectives ol li {
        margin: 0px 0 2px 0;
        counter-increment: my-awesome-counter;
        position: relative;
    }

    .objectives ol li::before {
        content: counter(my-awesome-counter) ". ";
        font-weight: 900;
        position: absolute;
        top: 0;
        left: -20px;
    }

    /* panel Main Change Impacts */

    .objectives.impacts ol li::before {
        color: #4A4A4A;
    }

    .objectives.impacts ol li span {
        color: #4A4A4A;
        font-weight: 700;
    }
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="edw-header__status flex align-item-center">
    {% set status = [
        'named',
        'identified',
        'qualified',
        'framed',
        'ready',
        'launched'
    ] %}

    {% if data.projectInfo.status == 'ABORTED' %}
        <div class="edw-header__status__item status--aborted">
            aborted
        </div>
    {% else %}
        {% for s in status %}

            {% if data.projectInfo.status is defined and data.projectInfo.status == s|upper %}
                <div style="position:relative">

                    <div class="edw-header__status__item status--passed">
                        {{ s|upper }}
                    </div>
                </div>
                {% if loop.last == false %}
                    <i class="edw-icon-arrow edw-icon-arrow-blue"></i>
                {% endif %}
            {% else %}
                <div style="position:relative">
                    <div class="edw-header__status__item">
                        {{ s|upper }}
                    </div>
                </div>
                {% if loop.last == false %}
                    <i class="edw-icon-arrow edw-icon-arrow-gray"></i>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
</div>
</div>

<div class="edw-content">
    <div class="edw-panel-group flex">

        {#panel new project#}

        <div class="edw-panel new-project">
            <div class="edw-panel-content edw-panel-small">
                <div class="flex mb-25">
                    <div class="label">
                        Name
                    </div>
                    <div class="inplace-text">
                        {{ data.projectInfo.name|default("N/A") }}
                    </div>
                </div>

                <div class="flex mb-25">
                    <div class="label">
                        Shortname
                    </div>
                    <div class="inplace-text">
                        {{ data.projectInfo.shortName|default("N/A") }}
                    </div>
                </div>

                <div class="flex mb-25">
                    <div class="label">
                        Owner
                    </div>
                    <div class="inplace-text">
                        {{ data.projectInfo.owner.firstName|default("N/A") }} {{ data.projectInfo.owner.lastName|default("N/A") }}
                    </div>
                </div>

                <div class="flex mb-25">
                    <div class="label">
                        Domain
                    </div>
                    <div class="inplace-text">
                        {% if data.projectInfo.domains is defined and data.projectInfo.domains is not null %}
                            {% for domain in data.projectInfo.domains %}
                                {% if loop.index != data.projectInfo.domains|length %}
                                    {{ domain.name|default("N/A") }},
                                {% else %}
                                    {{ domain.name|default("N/A") }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {#panel resources#}
        <div class="edw-panel resources">
            <div class="edw-panel-titlebar flex align-item-center">
                Resources
            </div>
            <div class="edw-panel-content edw-panel-small">
                <table>
                    <tbody>
                    {% set internalDays = null %}
                    {% set externalDays = null %}
                    {% set internalCostDays = null %}
                    {% set externalCostDays = null %}

                    {% if data.hritem.value is defined %}
                        {% set internalDays = data.hritem.value._internalDays %}
                        {% set externalDays = data.hritem.value._externalDays %}
                        {% set internalCostDays = data.hritem.value._internalCostDays %}
                        {% set externalCostDays = data.hritem.value._externalCostDays %}

                        {% set internalSteerDays = null %}
                        {% set internalMgmtDays = null %}
                        {% set internalProdDays = null %}

                        {% for internalDay in internalDays %}
                            {% set internalSteerDays = internalSteerDays + (internalDay.analyseDesign.steer|default(0)) %}
                            {% set internalSteerDays = internalSteerDays + (internalDay.buildDevelop.steer|default(0)) %}
                            {% set internalSteerDays = internalSteerDays + (internalDay.installDeploy.steer|default(0)) %}
                            {% set internalMgmtDays = internalMgmtDays + (internalDay.analyseDesign.mgmt|default(0)) %}
                            {% set internalMgmtDays = internalMgmtDays + (internalDay.buildDevelop.mgmt|default(0)) %}
                            {% set internalMgmtDays = internalMgmtDays + (internalDay.installDeploy.mgmt|default(0)) %}
                            {% set internalProdDays = internalProdDays + (internalDay.analyseDesign.prod|default(0)) %}
                            {% set internalProdDays = internalProdDays + (internalDay.buildDevelop.prod|default(0)) %}
                            {% set internalProdDays = internalProdDays + (internalDay.installDeploy.prod|default(0)) %}
                        {% endfor %}

                        {% set internalManDays = null %}
                        {% set internalManDays = internalSteerDays + internalMgmtDays + internalProdDays %}
                        {% set internalCJM = (internalSteerDays * internalCostDays.steer|default(0)) + (internalMgmtDays * internalCostDays.mgmt|default(0)) + (internalProdDays * internalCostDays.prod|default(0)) %}

                        {% set externalSteerDays = null %}
                        {% set externalMgmtDays = null %}
                        {% set externalProdDays = null %}

                        {% for externalDay in externalDays %}
                            {% set externalSteerDays = externalSteerDays + (externalDay.analyseDesign.steer|default(0)) %}
                            {% set externalSteerDays = externalSteerDays + (externalDay.buildDevelop.steer|default(0)) %}
                            {% set externalSteerDays = externalSteerDays + (externalDay.installDeploy.steer|default(0)) %}
                            {% set externalMgmtDays = externalMgmtDays + (externalDay.analyseDesign.mgmt|default(0)) %}
                            {% set externalMgmtDays = externalMgmtDays + (externalDay.buildDevelop.mgmt|default(0)) %}
                            {% set externalMgmtDays = externalMgmtDays + (externalDay.installDeploy.mgmt|default(0)) %}
                            {% set externalProdDays = externalProdDays + (externalDay.analyseDesign.prod|default(0)) %}
                            {% set externalProdDays = externalProdDays + (externalDay.buildDevelop.prod|default(0)) %}
                            {% set externalProdDays = externalProdDays + (externalDay.installDeploy.prod|default(0)) %}
                        {% endfor %}

                        {% set externalManDays = null %}
                        {% set externalManDays = externalSteerDays + externalMgmtDays + externalProdDays %}
                        {% set externalCJM = (externalSteerDays * externalCostDays.steer|default(0)) + (externalMgmtDays * externalCostDays.mgmt|default(0)) + (externalProdDays * externalCostDays.prod|default(0)) %}
                    {% endif %}

                    <tr>
                        <th rowspan="1">RESOURCES</th>
                        <th rowspan="1">M.Days</th>
                        <th rowspan="1">Total Cost <i>(€)</i></th>
                    </tr>
                    <tr>
                        <th colspan="1">INTERNAL</th>
                        <th rowspan="1" style="background-color:#d2d2d2">{% if internalManDays|default(0) != 0 %}{{ internalManDays|default("N/A")|localizednumber('decimal', 'default', locale) }}{% else %}N/A{% endif %}</th>
                        <th rowspan="1" style="background-color:#d2d2d2">{% if internalCJM|default(0) != 0 %}{{ internalCJM|default("N/A")|localizednumber('decimal', 'default', locale) }}{% else %}N/A{% endif %}</th>
                    </tr>
                    <tr>
                        <th colspan="1">EXTERNAL</th>
                        <th rowspan="1"> {% if externalManDays|default(0) != 0 %} {{ externalManDays|default("N/A")|localizednumber('decimal', 'default', locale) }} {% else %}N/A{% endif %}</th>
                        <th rowspan="1"> {% if externalCJM|default(0) != 0 %} {{ externalCJM|default("N/A")|localizednumber('decimal', 'default', locale) }} {% else %}N/A{% endif %}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {#panel b-case#}
        <div class="edw-panel b-case">
            <div class="edw-panel-titlebar flex align-item-center">
                B-case / Budget
            </div>
            <div class="edw-panel-content edw-panel-small">
                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        Budget
                    </div>
                    <div class="inplace-text">
                        {% if data.bcaseBudgets.budget is defined and data.bcaseBudgets.budget != 0 %}{{ data.bcaseBudgets.budget|default("0")|localizednumber('decimal', 'default', locale) }} €{% else %}N/A{% endif %}
                    </div>
                </div>

                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        CAPEX
                    </div>
                    <div class="inplace-text">
                        {% if data.bcaseBudgets.capex is defined and data.bcaseBudgets.capex != 0 %}{{ data.bcaseBudgets.capex|default("0")|localizednumber('decimal', 'default', locale) }} €{% else %}N/A{% endif %}
                    </div>
                </div>

                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        OPEX
                    </div>
                    <div class="inplace-text">
                        {% if data.bcaseBudgets.opex is defined and data.bcaseBudgets.opex != 0 %}{{ data.bcaseBudgets.opex|default("0")|localizednumber('decimal', 'default', locale) }} €{% else %}N/A{% endif %}
                    </div>
                </div>

                <div class="flex align-item-center">
                    <div class="label">
                        ROI
                    </div>
                    <div class="inplace-text">
                        {% if data.bcaseBudgets.roi is defined and data.bcaseBudgets.roi != 0 %}{{ data.bcaseBudgets.roi|default("0")|localizednumber('decimal', 'default', locale) }} months{% else %}N/A{% endif %}
                    </div>
                </div>
            </div>
        </div>


        {#panel classification#}
        <div class="edw-panel b-case classification">
            <div class="edw-panel-titlebar flex align-item-center">
                Classification
            </div>
            <div class="edw-panel-content edw-panel-small">
                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        Gartner
                    </div>
                    <div class="inplace-text">
                        <div class="flex align-item-center">
                            {% if data.classifications.gartner is defined and data.classifications.gartner != null %}
                                {% set gartnerAverageScore = data.classifications.gartner.averageScore|split('-') %}
                                {% for gartner in gartnerAverageScore %}
                                    <div class="edw-button edw-button--secondary flex align-item-center mr-15">
                                        {{ gartner|lower|title }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="inplace-text">
                                    N/A
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        Stakes
                    </div>
                    <div class="inplace-text">
                        {% if data.classifications.stakes is defined %}
                            {{ data.classifications.stakes.averageScore }}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                </div>

                <div class="flex align-item-center border-bottom">
                    <div class="label">
                        Accessibility
                    </div>
                    <div class="inplace-text">
                        {% if data.classifications.stakes is defined %}
                            {{ data.classifications.accessibility.averageScore }}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                </div>
                {% if data.classifications.custom is defined and data.classifications.custom != null %}
                    <div class="flex align-item-center" style="padding-top: 15px;">
                        Plus de classification en annexe
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="edw-panel-group flex">

        {#panel Description#}
        <div class="edw-panel description">
            <div class="edw-panel-titlebar flex align-item-center">
                Description
            </div>
            <div class="edw-panel-content edw-panel-medium">
                {{ data.description|default("N/A")|raw }}
            </div>
        </div>


        {#panel Main Objectives#}
        <div class="edw-panel objectives">
            <div class="edw-panel-titlebar flex align-item-center">
                Main Objectives
            </div>
            <div class="edw-panel-content edw-panel-medium">
                <ol>
                    {% if data.objectives is defined and data.objectives != null %}
                        {% for objective in data.objectives %}
                            <li>
                                {{ objective.content }}
                            </li>
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </ol>
            </div>
        </div>

        {#panel Main Gains#}
        <div class="edw-panel objectives">
            <div class="edw-panel-titlebar flex align-item-center">
                Main Gains
            </div>
            <div class="edw-panel-content edw-panel-medium">
                <ol>
                    {% if data.gains is defined and data.gains != null %}
                        {% for gain in data.gains %}
                            <li>
                                {{ gain.content }}
                            </li>
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </ol>
            </div>
        </div>

        {#panel Main Change Impacts#}
        <div class="edw-panel objectives impacts">
            <div class="edw-panel-titlebar flex align-item-center">
                Main Change Impacts
            </div>
            <div class="edw-panel-content edw-panel-medium">
                <ol>
                    {% if data.changeImpacts is defined and data.changeImpacts != null %}
                        {% for changeImpact in data.changeImpacts %}
                            <li>
                                <span>{{ changeImpact.type }} : </span><br>
                                {{ changeImpact.content }}
                            </li>
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </ol>
            </div>
        </div>

    </div>
</div>
