{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.PriceListD3E.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.PriceListD3E.PriceListD3Es'|trans }}
{% endblock %}

{% block main_content %}

    <form id="catalogPriceListD3EForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Catalog.PriceListD3E.Edit'|trans }} #{{ priceListD3E.id }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-priceListD3E-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.PriceListD3E.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-priceListD3E-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.PriceListD3E.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Catalog.PriceListD3E.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-label">{{ 'Catalog.PriceListD3E.Name'|trans }}</div>
                                        <div class="form-content">
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-priceListD3E-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.PriceListD3E.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-priceListD3E-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.PriceListD3E.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-priceListD3E-save-button').on('click', function () {

                $('#catalogPriceListD3EForm').submit();

            });


            $('.catalog-priceListD3E-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_priceListD3E_view", {id: priceListD3E.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Catalog.PriceListD3E.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}