{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.PriceListD3E.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.PriceListD3E.PriceListD3Es'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ ('Catalog.PriceListD3E.Error.' ~ flashMessage)|trans }}</div>
        {% endfor %}
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.PriceListD3E.View'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_catalog_priceListD3E_edit", {id: priceListD3E.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.PriceListD3E.Edit'|trans }}</a>
                    <a id="catalogPriceListD3ERemoveButton" href="javascript:void(0);"
                       class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.PriceListD3E.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_catalog_priceListD3E_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.PriceListD3E.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.PriceListD3E.Informations'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.PriceListD3E.Name'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ priceListD3E.name }}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                {{ 'Catalog.PriceListLineD3E.PriceListLineD3Es'|trans }}
                            </h5>
                            <div class="float-right">
                                <a href="{{ path('paprec_catalog_priceListD3E_addLine', {id: priceListD3E.id}) }}"
                                   id="addPriceListD3ELineButton"
                                   class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.PriceListLineD3E.Add'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="priceListLineD3EsDatatable"
                                   class="table table-striped table-bordered table-hover"
                                   cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Catalog.PriceListLineD3E.PostalCodes'|trans }}</th>
                                    <th>{{ 'Catalog.PriceListLineD3E.Agency'|trans }}</th>
                                    <th>{{ 'Catalog.PriceListLineD3E.MinQuantity'|trans }}</th>
                                    <th>{{ 'Catalog.PriceListLineD3E.MaxQuantity'|trans }}</th>
                                    <th>{{ 'Catalog.PriceListLineD3E.Price'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for priceListLineD3E in priceListD3E.priceListLineD3Es %}
                                    <tr>
                                        <td>{{ priceListLineD3E.id|formatId(6) }}</td>
                                        <td>{{ priceListLineD3E.postalCodes }}</td>
                                        <td>{{ priceListLineD3E.agency }} - {{ priceListLineD3E.agency.city }}</td>
                                        <td>{{ priceListLineD3E.minQuantity }}</td>
                                        <td>{{ priceListLineD3E.maxQuantity }}</td>
                                        <td>{{ priceListLineD3E.price|formatAmount('EUR', app.request.locale) }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('paprec_catalog_priceListD3E_editLine', {id: priceListD3E.id, lineId: priceListLineD3E.id }) }}"
                                               class="btn btn-sm btn-warning mx-1">
                                                <i class="fa fa-xs fa-edit"></i>
                                            </a>
                                            <a href="javascript:void(0);"
                                               class="btn btn-sm btn-danger removePriceListD3ELineButton"
                                               data-id="{{ priceListLineD3E.id }}"
                                            >
                                                <i class="fa fa-xs fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="modal fade" id="priceListD3ELineModal" tabindex="-1" role="dialog"
                                 aria-labelledby="Edit Line" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" id="priceListD3ELineModalContent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.PriceListD3E.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.PriceListD3E.Date-creation'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ priceListD3E.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.PriceListD3E.Date-update'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ priceListD3E.dateUpdate is empty ? "" : priceListD3E.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>

                $(function () {

                    $('.catalogPriceListD3ESaveButton').on('click', function () {
                        $('#formAddGrilleTarifLineD3E').submit();
                    });

                    $('#catalogPriceListD3ERemoveButton').on('click', function () {

                        var url = "{{ path("paprec_catalog_priceListD3E_remove", {id: priceListD3E.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Catalog.PriceListD3E.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });

                    var priceListLineD3EsTable = $('#priceListLineD3EsDatatable').DataTable({
                        "language": {
                            "lengthMenu": "{{ 'General.Datatable.Records-per-page'|trans }}",
                            "zeroRecords": "{{ 'General.Datatable.Nothing-found'|trans }}",
                            "info": "{{ 'General.Datatable.Showing-page'|trans }}",
                            "infoEmpty": "{{ 'General.Datatable.No-records-available'|trans }}",
                            "search": "{{ 'General.Datatable.Search'|trans }}:",
                            "sProcessing": "{{ 'General.Datatable.Loading'|trans }}",
                            "paginate": {
                                "previous": "{{ 'General.Datatable.Previous'|trans }}",
                                "next": "{{ 'General.Datatable.Next'|trans }}",
                            },
                            "select": {
                                "rows": {
                                    _: "%d lignes sélectionnées",
                                    0: "Aucune ligne sélectionnée",
                                    1: "1 ligne sélectionnée"
                                }
                            },

                        },
                        "columnDefs": [{
                            "targets": 6,
                            "orderable": false
                        }],
                        "drawCallback": function () {
                            $('.dataTables_paginate > .pagination').addClass('pagination-sm');
                        },
                        "bSortCellsTop": true,
                        dom: 'f<"ml-auto">lrti<"ml-auto">p',
                    });


                    $('.editPriceListD3ELineButton').on('click', function () {
                        id = $(this).data('id');
                        $.ajax({
                            type: "GET",
                            url: "{{ path('paprec_catalog_priceListD3E_edit', {id: priceListD3E.id, lineId: 'idLineTmp'}) }}".replace('idLineTmp', id),
                            contentType: "html",
                            success: function (response) {
                                // On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar
                                var htmlToDisplay = response.trim();
                                $("#priceListD3ELineModalContent").html(htmlToDisplay);
                            }
                        })
                    });

                    $('.removePriceListD3ELineButton').on('click', function () {
                        id = $(this).data('id');
                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Catalog.PriceListLineD3E.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                var url = "{{ path("paprec_catalog_priceListD3E_removeLine", {id: priceListD3E.id, lineId: 'lineTmp'}) }}";
                                url = url.replace('lineTmp', id);
                                $(location).attr('href', url);
                            }
                        });
                    })
                });


            </script>
        {% endblock %}
