{% extends 'base_public.html.twig' %}
{% block breadcrumb_title %}
    {{ 'Public.Catalog.BreadcrumbTitle'| trans({}, "messages", locale) }}
{% endblock %}

{% block breadcrumb_content %}
    {{ 'Public.Catalog.BreadcrumbContent'| trans({}, "messages", locale) }}
{% endblock %}
{% block main_content %}

    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-12">
                    <h2>{{ 'Public.Catalog.Title'| trans({}, "messages", locale) }}
                    </h2>
                    <div class="divider"></div>
                </div>
            </div>
            {% set customArea = paprec_customizable_area('catalog_top', locale) %}
            {% if customArea is not null %}
                <div class="row mb-5">
                    <div class="col-xl-6">

                        <div class="mytext">{% autoescape false %}{{ customArea.leftContent }}{% endautoescape %}</div>


                        <div class="image">
                            {% if customArea.leftPictures and customArea.leftPictures|length > 0 %}
                                <img src="{{ asset('uploads/pictos/' ~ customArea.leftPictures[0].path) }}"
                                     alt="Image block left">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-6">

                        <div class="mytext">{% autoescape false %}{{ customArea.rightContent }}{% endautoescape %}</div>


                        <div class="image">
                            {% if customArea.rightPictures and customArea.rightPictures|length > 0 %}
                                <img src="{{ asset('uploads/pictos/' ~ customArea.rightPictures[0].path) }}"
                                     alt="Image block left">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-6 product" id="productContainer_{{ product.id }}">
                        <div class="row product__block">
                            <div class="col-xl-4 paprec-flex align-items_center">
                                <div class="product__image">
                                    <img src="{% if product.pilotPictures|length > 0 %}{{ asset('/uploads/pictos/' ~ product.pilotPictures[0].path) }}{% endif %}"
                                         alt="#" class="">
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="product__title">
                                    <h3>{{ product|productLabelTranslation(locale) }}</h3>
                                </div>
                                <div class="product__description">
                                    <div class="paprec-flex space-between">
                                        <div class="product__label">{{ 'Catalog.Product.Capacity'|trans({}, "messages", app.request.locale) }}</div>
                                        <div class="product__value">{{ product.capacity }} {{ product.capacityUnit }}</div>
                                    </div>
                                    <div class="paprec-flex space-between">
                                        <div class="product__label">{{ 'Catalog.Product.FolderNumber'|trans({}, "messages", app.request.locale) }}</div>
                                        <div class="product__value">{{ product.folderNumber }}</div>
                                    </div>
                                    <div class="paprec-flex space-between">
                                        <div class="product__label">{{ 'Catalog.Product.Dimensions'|trans({}, "messages", app.request.locale) }}</div>
                                        <div class="product__value">{{ product.dimensions }}</div>
                                    </div>
                                    <div class="paprec-flex space-between">
                                        <div class="product__label">{{ 'Catalog.ProductLabel.Version'|trans({}, "messages", app.request.locale) }}</div>
                                        <div class="product__value">{{ product|productLabelTranslation(locale, 'version') }} </div>
                                    </div>
                                    <div class="paprec-flex space-between">
                                        <div class="product__label">{{ 'Catalog.ProductLabel.Lock'|trans({}, "messages", app.request.locale) }}</div>
                                        <div class="product__value">{{ product|productLabelTranslation(locale,'lockType') }}</div>
                                    </div>
                                </div>
                                <div class="product__quantity paprec-flex">
                                    <div>
                                        {{ 'Public.Catalog.Quantity'| trans({}, "messages", locale) }} :
                                        {% set qtty = '' %}
                                        {% for item in cart.content %}
                                            {% if item['pId'] == product.id %}
                                                {% set qtty = item['qtty'] %}
                                            {% endif %}
                                        {% endfor %}
                                        <select name=""
                                                disabled="disabled"
                                                class="quantityProductSelect ml-2"
                                                data-url="{{ path('paprec_public_catalog_addContent', {locale: locale, cartUuid: cart.id}) }}"
                                                data-product="{{ product.id }}"
                                                id="quantityProductSelect_{{ product.id }}">
                                            {% for i in 0..100 %}
                                                {% if i == qtty %}
                                                    <option value="{{ i }}"
                                                            selected="selected">{{ i }}</option>''
                                                {% else %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="paprec-flex">
                                        <button class="addOneToCartButton round-btn round-btn--blue mr-2"
                                                id="addOneToCartButton{{ product.id }}"
                                                data-url="{{ path('paprec_public_catalog_addOneContent', {locale: locale, cartUuid: cart.id, productId: product.id}) }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button class="removeOneToCartButton round-btn round-btn--blue  {% if qtty == 0 %}round-btn--disable{% endif %}"
                                                id="removeOneToCartButton{{ product.id }}"
                                                data-url="{{ path('paprec_public_catalog_removeOneContent', {locale: locale, cartUuid: cart.id, productId: product.id}) }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-6 product">
                    <div class="row devis">

                        <div class="col-xl-5">
                            <div class="devis__products-container">
                                <h3>{{ 'Public.Catalog.Quote'| trans({}, "messages", locale) }}</h3>

                                <div class="devis__recap" id="devis-recap">
                                    {% for product in products %}
                                        {% for item in cart.content %}
                                            {% if item['pId'] == product.id %}
                                                <div class="devis__recap__item"
                                                     id="devis-recap-item-{{ product.id }}">
                                                    <p class="mr-2 font-weight-bold">{{ item['qtty'] }}x</p>
                                                    <p>{{ product|productLabelTranslation(locale) }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 devis__frequency-container pr-0">
                            <h3>{{ 'Public.Catalog.Collect-frequency'| trans({}, "messages", locale) }}</h3>

                            <div class="devis__frequency-container__content paprec-flex column">
                                <!-- Group of default radios - option 1 -->
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="frequencyButton1"
                                           value="ponctual"
                                           checked
                                           name="groupOfDefaultRadios">
                                    <label class="custom-control-label"
                                           for="frequencyButton1">{{ 'Public.Catalog.OnDemand'| trans({}, "messages", locale) }}</label>
                                </div>

                                <!-- Group of default radios - option 2 -->
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="frequencyButton2"
                                           value="regular"
                                           name="groupOfDefaultRadios">
                                    <label class="custom-control-label"
                                           for="frequencyButton2">{{ 'Public.Catalog.Regular'| trans({}, "messages", locale) }}
                                        : </label>
                                </div>

                                <div class="devis__frequence paprec-flex">
                                    <div class="paprec-flex">
                                        <button class="round-btn round-btn--blue devis__frequence__button round-btn--disable  mr-1"
                                                disabled
                                                id="addFrequencyButton">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <input class="catalog-frequency-select catalog-frequency-input text-center"
                                               disabled="disabled"
                                               size="1"
                                               id="catalog_frequency_times_select" value="0"/>
                                        <button class="round-btn round-btn--blue devis__frequence__button round-btn--disable ml-1"
                                                disabled
                                                id="removeFrequencyButton">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <span class="devis__frequence__times ml-2">{{ 'Public.Catalog.Times'| trans({}, "messages", locale) }}</span>
                                    <select class="catalog-frequency-select ml-2"
                                            disabled
                                            id="catalog_frequency_interval_select">
                                        <option value="week"
                                                selected>{{ 'Public.Catalog.Week'| trans({}, "messages", locale) }}</option>
                                        <option value="month">{{ 'Public.Catalog.Month'| trans({}, "messages", locale) }}</option>
                                        <option value="quarter">{{ 'Public.Catalog.Quarter'| trans({}, "messages", locale) }}</option>
                                        <option value="year"
                                                selected>{{ 'Public.Catalog.Year'| trans({}, "messages", locale) }}</option>
                                    </select>
                                </div>

                            </div>
                            <button type="button"
                                    class="btn btn__blue btn__large"
                                    data-url="{{ path('paprec_public_contact_index', {locale: locale, cartUuid: cart.id}) }}"
                                    data-ajax="{{ path('paprec_public_catalog_addFrequency', {locale: locale, cartUuid: cart.id}) }}"
                                    id="catalog_next_step_button">
                                {{ 'Public.Catalog.NextStep'| trans({}, "messages", locale) }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-12">
                        <h2>{{ 'Public.Catalog.Other-Needs'| trans({}, "messages", locale) }} </h2>
                    </div>
                </div>
                <div class="row other-needs-container">
                    {% for otherNeed in otherNeeds %}
                        {% if otherNeed.pictures and otherNeed.pictures|length > 0 %}
                            <div class="col other-needs-image">
                                <img src="{{ asset('/uploads/pictos/' ~ otherNeed.pictures[0].path) }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div id="define-need-button"
         class="floating-bottom-button">{{ 'Public.Catalog.Define-Need'| trans({}, "messages", locale) }}</div>
    <div id="other-needs-button"
         class="floating-bottom-button">{{ 'Public.Catalog.Other-Needs'| trans({}, "messages", locale) }}</div>
{% endblock %}
