{% extends 'base_public.html.twig' %}
{% block breadcrumb_title %} {{ 'Public.Contact.BreadcrumbTitle'| trans({}, "messages", locale) }} {% endblock %}
{% block breadcrumb_content %} {{ 'Public.Contact.BreadcrumbContent'| trans({}, "messages", locale) }} {% endblock %}

{% block main_content %}
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-12">
                    <h2>
                        {{ 'Public.Contact.Title'| trans({}, "messages", locale) }}
                    </h2>
                    <div class="divider"></div>
                </div>
            </div>
            <form id="contactDetailForm" action="" method="post">
                <div class="row form-container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'Public.Contact.BusinessName'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.businessName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.businessName) }}
                            <div class="invalid-feedback">
                                Champ non renseigné
                            </div>
                        </div>
                        <div class="form-group select-container">
                            <label>{{ 'Public.Contact.Canton'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.canton, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.canton) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Civility'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.civility, {'attr': {'class': 'form-check form-check-inline radio-form'}}) }}
                            {{ form_errors(form.civility) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.LastName'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.FirstName'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Email'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Phone'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Staff'| trans({}, "messages", locale) }} :</label>
                            <select id="contact_staff_select" class="form-control">
                                <option value="" selected disabled hidden></option>
                                {% for opt in form.staff.vars.choices %}#}
                                    <option value="{{ opt.value }}">{{ opt.label|trans({}, "messages", locale) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Access'| trans({}, "messages", locale) }} :</label>
                            <select id="contact_access_select" class="form-control">
                                <option value="" selected disabled hidden></option>
                                {% for opt in form.access.vars.choices %}#}
                                    <option value="{{ opt.value }}">{{ opt.label|trans({}, "messages", locale) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ form_widget(form.staff, {'attr': {'class': 'contact_staff_input'}}) }}
                        {{ form_widget(form.access, {'attr': {'class': 'contact_access_input'}}) }}
                    </div>

                    <div class="col-md-6">


                        <div class="form-group">
                            <label>{{ 'Public.Contact.IsMultisite'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.isMultisite, {'attr': {'class': 'form-check form-check-inline radio-form'}}) }}
                            {{ form_errors(form.isMultisite) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Address'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.address, {'attr': {'class': 'form-control address-field'}}) }}
                            {{ form_errors(form.address) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.PostalCode'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control address-field'}}) }}
                            {{ form_errors(form.postalCode) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.City'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.city, {'attr': {'class': 'form-control address-field'}}) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Contact.Comment'| trans({}, "messages", locale) }} :</label>
                            {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': '11'}}) }}
                            {{ form_errors(form.comment) }}
                        </div>
                        <button type="submit"
                                id="contactDetailFormSubmitButton"
                                data-key="{{ recaptcha_site_key }}"
                                class="btn valid">{{ 'Public.Contact.SendRequest'| trans({}, "messages", locale) }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
    <script>

    </script>
{% endblock %}

