{% extends 'base_public.html.twig' %}
{% block breadcrumb_title %} {{ 'Public.Signatory.BreadcrumbTitle'| trans({}, "messages", locale) }} {% endblock %}
{% block breadcrumb_content %} {{ 'Public.Signatory.BreadcrumbContent'| trans({}, "messages", locale) }} {% endblock %}

{% block main_content %}

    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-12">
                    <h2>
                        {{ 'Public.Signatory.Title'| trans({}, "messages", locale) }}
                    </h2>
                    <div class="divider"></div>
                </div>
            </div>
            <form id="signatoryForm" action="" method="post">
                <div class="row form-container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'Public.Signatory.SignatoryFirstName1'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryFirstName1, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.signatoryFirstName1) }}
                        </div>
                        <div class="form-group select-container">
                            <label>{{ 'Public.Signatory.SignatoryLastName1'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryLastName1, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.signatoryLastName1) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Signatory.SignatoryTitle1'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryTitle1, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.signatoryTitle1) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Signatory.IsSingleSignatory'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.isSingleSignatory, {'attr': {'class': 'form-check form-check-inline radio-form'}}) }}
                            {{ form_errors(form.isSingleSignatory) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'Public.Signatory.SignatoryFirstName2'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryFirstName2, {'attr': {'class': 'form-control signatory2-field'}}) }}
                            {{ form_errors(form.signatoryFirstName2) }}
                        </div>
                        <div class="form-group select-container">
                            <label>{{ 'Public.Signatory.SignatoryLastName2'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryLastName2, {'attr': {'class': 'form-control signatory2-field'}}) }}
                            {{ form_errors(form.signatoryLastName2) }}
                        </div>
                        <div class="form-group">
                            <label>{{ 'Public.Signatory.SignatoryTitle2'| trans({}, "messages", locale) }}* :</label>
                            {{ form_widget(form.signatoryTitle2, {'attr': {'class': 'form-control signatory2-field'}}) }}
                            {{ form_errors(form.signatoryTitle2) }}
                        </div>
                        <button type="submit"
                                id="signatoryFormSubmitButton"
                                data-key="{{ recaptcha_site_key }}"
                                class="btn valid">{{ 'General.Send'| trans({}, "messages", locale) }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>

        </div>
    </section>
    <div class="overlay"></div>
{% endblock %}
{% block javascripts %}
{% endblock %}

