{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ContactUs.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.ContactUs.ContactUss'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialContactUsForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-7">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Commercial.ContactUs.Edit'|trans }}
                        #{{ contactUs.id|formatId(6) }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success commercial-contactUs-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.ContactUs.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-contactUs-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.ContactUs.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group col-4">
                        <label class="form-label">{{ 'Commercial.ContactUs.TreatmentStatus'|trans }}</label>
                        <div class="form-content">
                            {{ form_widget(form.treatmentStatus, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.treatmentStatus) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-contactUs-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.ContactUs.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-contactUs-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.ContactUs.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-contactUs-save-button').on('click', function () {

                $('#commercialContactUsForm').submit();

            });


            $('.commercial-contactUs-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_contactUs_view", {id: contactUs.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.ContactUs.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
