{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block css_rules %}
     <style>
         .btn {
             border-radius: 3px;
             padding: 5px 15px;
         }
     </style>
 {% endblock %}

 {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/picto_devis.svg')) }}" width="60px" height="60px"
          border="0" class="picto-header">
 {% endblock %}

{% block title_header %}
    Un nouveau devis vient d'être établi
{% endblock %}

{% block subtitle_header %}
    Devis Ponctuel - Mes déchets d'entreprise - N° {{ productDIQuote.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <table class="newRequestEmailTable content-email-detail" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="text-align: right">
        <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6); text-align: center">
            <td style="padding-bottom: 10px">
                Détail du devis N° {{ productDIQuote.id|formatId(6) }} - {{ productDIQuote.dateCreation|date('d/m/Y H:i') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ProductDIQuote.BusinessName'|trans }} : &nbsp;
                </div>
                <div class="value">
                    {{ productDIQuote.businessName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    Contact : &nbsp;
                </div>
                <div class="value">
                    {% if productDIQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productDIQuote.lastName }} {{ productDIQuote.firstName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ProductDIQuote.Function'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ productDIQuote.function }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ProductDIQuote.Address'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ productDIQuote.address }}
                    <br>
                    {{ productDIQuote.postalCode }} {{ productDIQuote.city }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ProductDIQuote.Email'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ productDIQuote.email }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ProductDIQuote.Phone'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ productDIQuote.phone }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

    <table class="content-email-detail" border="0" cellpadding="0" cellspacing="0" width="80%"
           style="margin-top: 20px;">
        <tr>
            <td colspan="3" style="text-align: center; padding-bottom: 5px;">
                Composition du devis :
            </td>
        </tr>
        <tr>
            <td class="greyrecap" colspan="3">
                <div class="title">
                    {{ 'Public.Cart.ForfaitRecyclage'|trans }}
                </div>
                <div class="info">
                    {{ 'Public.Cart.Including2Lines'|trans|nl2br }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% for productDIQuoteLine in productDIQuote.productDIQuoteLines %}
            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6);">
                <td class="picto" style="text-align:center;">
                    {% if productDIQuoteLine.productDI.pictures|length > 0 %}
                        <img src="{% if productDIQuoteLine.productDI.pilotPictures|length > 0 %}{{ absolute_url(asset('/uploads/pictos/' ~ productDIQuoteLine.productDI.pilotPictures[0].path)) }}{% endif %}"
                             alt="#" style="height: 75px">
                    {% endif %}
                </td>
                <td class="product" style="padding-left: 15%">
                    {{ productDIQuoteLine.quantity }} x {{ productDIQuoteLine.productName }}<br>
                    de {{ productDIQuoteLine.categoryName }}
                </td>
                <td class="price" style="display: inline-flex; float: right; margin-right: 10px; line-height: 75px;">
                    à partir de
                    <div class="value bigger-value">
                        &nbsp; {{ productDIQuoteLine.totalAmount|formatAmount('EUR', app.request.locale) }}</div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-left: 15%">
                <div class="value bigger-value" style="font-size: 1.3em;line-height: 75px;">TOTAL</div>
            </td>
            <td style="display: inline-flex; float: right; margin-right: 10px; line-height: 75px">
                à partir de
                <div class="value bigger-value">&nbsp; {{ productDIQuote.totalAmount|formatAmount('EUR', app.request.locale) }}</div>
            </td>
        </tr>
    </table>

{% endblock %}

{% block footer %}
    <tr>
        <td class="footer-repondre-title" style="padding: 15px 0;" >
            Merci de répondre à cette demande sous 48h et d'importer le devis actualisé
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 5px;">
            <a href="{{ absolute_url(path("paprec_commercial_productDIQuote_view", {id: productDIQuote.id})) }}">
                <button class="btn btn-green" style="margin: 5px 0px 15px 0px;">
                    Lien pour voir le devis et y importer le nouveau devis
                </button>
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

