{% autoescape false %}
    {% for menu in items %}
        <li class="menu-item menu-item-type-post_type menu-item-object-page {% if menu['children']|length > 0 %}menu-item-has-children {% endif %}">
            <a href="{{ menu['url'] }}">{{ menu['title'] }}</a>
            <div class="submenu__title">{{ menu['title'] }}</div>
            {% if menu['children']|length > 0 %}
                <div class="sub-menu-wrap">
                    <ul class="sub-menu">
                        {% for submenu in menu['children'] %}
                            <li>
                                <a href="{{ submenu['url'] }}">{{ submenu['title'] }}</a>
                                {% if submenu['children']|length > 0 %}
                                    <div class="sub-menu-wrap">

                                        <ul class="sub-menu">
                                            {% for subsubmenu in submenu['children'] %}
                                                <li>
                                                    <a href="{{ subsubmenu['url'] }}">{{ subsubmenu['title'] }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endfor %}
{% endautoescape %}
