{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Category.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.Category.Categories'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.Category.View'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_catalog_category_edit", {id: category.id}) }}" class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.Category.Edit'|trans }}</a>
                    <a id="catalogCategoryRemoveButton" href="javascript:void(0);" class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.Category.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_catalog_category_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.Category.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{ 'Catalog.Category.Informations'|trans }}</h5>
                                </div>
                                <div class="card-body row">
                                    <div class="col-md-8">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Name'|trans }}</label>
                                            <label class="col-form-label col-md-8">
                                                {{ category.name }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Description'|trans }}</label>
                                            <label class="col-form-label col-md-8">
                                                {{ category.description }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Enabled'|trans }}</label>
                                            <label class="col-form-label col-md-8">
                                                {% if category.enabled == 1 %}Oui{% else %}Non{% endif %}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Division'|trans }}</label>
                                            <label class="col-form-label col-md-8">
                                                {{ category.division }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Position'|trans }}</label>
                                            <label class="col-form-label col-md-8">
                                                {{ category.position }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="text-align:center; vertical-align: middle;">
                                        {% if category.picto %}
                                            <div class="checkboxPicto" style="background-image: url({{ asset('uploads/pictos/' ~ category.picto) }})">
                                            </div>
                                            {#<img class="" src="{{ asset('/uploads/pictos/' ~ category.picto) }}" alt=""#}
                                                 {#style="max-width: 50%; height: auto;">#}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{ 'Catalog.Category.System-informations'|trans }}</h5>
                                </div>
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Date-creation'|trans }}</label>
                                        <label class="col-form-label col-md-8">
                                            {{ category.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                        </label>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Catalog.Category.Date-update'|trans }}</label>
                                        <label class="col-form-label col-md-8">
                                            {{ category.dateUpdate is empty ? "" : category.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {% if category.productDICategories is not empty %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{ 'Catalog.Category.SortProductDI'|trans }}</h5>
                                </div>
                                <div class="card-body">
                                    <ul id="productDICategoryListContent">
                                        {% for productDICategory in category.productDICategoriesOrdered %}
                                            <li class="list-group-item"
                                                id="productDICategoryItem_{{ productDICategory.id }}">
                                                {{ productDICategory.productDI.name }}
                                                <div class="float-right">
                                                    <a href="{{ path("paprec_catalog_productDI_view", {id: productDICategory.productDI.id}) }}"
                                                       class="btn btn-sm btn-sm btn-primary"><i class="fa fa-xs fa-eye"></i></a>
                                                    <a href="{{ path("paprec_catalog_productDI_edit", {id: productDICategory.productDI.id}) }}"
                                                       class="mx-1 btn btn-sm btn-sm btn-warning"><i class="fa fa-xs fa-edit"></i></a>
                                                    <a href="javascript:void(0);"
                                                       onclick="removeProductDICategory({{ category.id }}, {{ productDICategory.id }})"
                                                       class="btn btn-sm btn-sm btn-danger"><i class="fa fa-xs fa-trash"></i></a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if category.productChantierCategories is not empty %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title"></h5>
                                </div>
                                <div class="card-body">
                                    <ul id="productChantierCategoryListContent">
                                        {% for productChantierCategory in category.productChantierCategoriesOrdered %}
                                            <li class="list-group-item"
                                                id="productChantierCategoryItem_{{ productChantierCategory.id }}">
                                                {{ productChantierCategory.productChantier.name }}
                                                <div class="float-right">
                                                    <a href="{{ path("paprec_catalog_productChantier_view", {id: productChantierCategory.productChantier.id}) }}"
                                                       class="btn btn-sm btn-sm btn-primary"><i class="fa fa-xs fa-eye"></i></a>
                                                    <a href="{{ path("paprec_catalog_productChantier_edit", {id: productChantierCategory.productChantier.id}) }}"
                                                       class="mx-1 btn btn-sm btn-sm btn-warning"><i class="fa fa-xs fa-edit"></i></a>
                                                    <a href="javascript:void(0);"
                                                       onclick="removeProductChantierCategory({{ category.id }}, {{ productChantierCategory.id }})"
                                                       class="btn btn-sm btn-sm btn-danger"><i class="fa fa-xs fa-trash"></i></a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>
                $(function () {

                    $('#catalogCategoryRemoveButton').on('click', function () {

                        var url = "{{ path("paprec_catalog_category_remove", {id: category.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Catalog.Category.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });

                    // Product DI
                    $("#productDICategoryListContent").sortable({
                        placeholder: "list-group-item active",
                        update: function (event, ui) {
                            moveProductDICategory($(this));
                        }
                    }).disableSelection();

                    // Product Chantier
                    $("#productChantierCategoryListContent").sortable({
                        placeholder: "list-group-item active",
                        update: function (event, ui) {
                            moveProductChantierCategory($(this));
                        }
                    }).disableSelection();
                });

                function removeProductDICategory(id, productDICategoryId) {
                    var url = "{{ path('paprec_catalog_category_removeProductDICategory', {id: 'categoryId', productDICategoryId: 'productDICategoryId'}) }}"

                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.Category.Confirm-remove-pc'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            url = url.replace('categoryId', id);
                            url = url.replace('productDICategoryId', productDICategoryId);
                            $(location).attr('href', url);
                        }
                    });
                }


                function removeProductChantierCategory(id, productChantierCategoryId) {
                    var url = "{{ path('paprec_catalog_category_removeProductChantierCategory', {id: 'categoryId', productChantierCategoryId: 'productChantierCategoryId'}) }}"
                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Catalog.Category.Confirm-remove-pc'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            url = url.replace('categoryId', id);
                            url = url.replace('productChantierCategoryId', productChantierCategoryId);
                            $(location).attr('href', url);
                        }
                    });


                }


                function moveProductDICategory(productDICategoryListContent) {

                    var productDICategoryItems = [];
                    productDICategoryListContent.sortable("toArray").forEach(function (item) {
                        productDICategoryItems.push(item.replace('productDICategoryItem_', ''));
                    });

                    $.ajax({
                        'url': '{{ path('paprec_catalog_category_moveProductDICategory', {id: category.id}) }}',
                        'method': 'post',
                        'data': {
                            productDICategoryItemIds: productDICategoryItems
                        }
                    })
                }

                function moveProductChantierCategory(productChantierCategoryListContent) {

                    var productChantierCategoryItems = [];
                    productChantierCategoryListContent.sortable("toArray").forEach(function (item) {
                        productChantierCategoryItems.push(item.replace('productChantierCategoryItem_', ''));
                    });

                    $.ajax({
                        'url': '{{ path('paprec_catalog_category_moveProductChantierCategory', {id: category.id}) }}',
                        'method': 'post',
                        'data': {
                            productChantierCategoryItemIds: productChantierCategoryItems
                        }
                    })
                }
            </script>
        {% endblock %}
