{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

{% block css_rules %}
     <style>
         .btn {
             border-radius: 3px;
             padding: 5px 15px;
         }
     </style>
 {% endblock %}

 {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/new_mail.svg')) }}" width="75px" height="75px"
          border="0" class="picto-header">
 {% endblock %}

{% block title_header %}
    Vous avez une nouvelle demande
{% endblock %}

{% block subtitle_header %}
    Formulaire Contactez-nous - N° {{ contactUs.id|formatId(6) }}
{% endblock %}

{% block main_content %}

    <table class="newRequestEmailTable content-email-detail" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="color: {{ blue1 }}; font-weight: bold;">
        <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6);">
            <td>
                Détail de la demande N° {{ contactUs.id|formatId(6) }}
                - {{ contactUs.dateCreation|date('d/m/Y H:i') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.BusinessName'|trans }} : &nbsp;
                </div>
                <div class="value">
                    {{ contactUs.businessName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.Civility'|trans }} : &nbsp;
                </div>
                <div class="value">
                    {% if contactUs.civility == 'M' %}Monsieur{% else %}Madame{% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.LastName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.lastName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.FirstName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.firstName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.Function'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.function }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.PostalCode'|trans }} :
                </div>
                <div class="value">
                    {#{{ contactUs.postalCode }}#}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.Email'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.email }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.Phone'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.phone }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.Need'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ contactUs.need }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.ContactUs.AttachedFiles'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {% if contactUs.attachedFiles %}
                        <a href="{{ absolute_url(path('paprec_commercial_contactUs_downloadAttachedFiles', {id: contactUs.id})) }}">Pièces
                            jointes</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <tr>
        <td style="padding-top: 15px;" class="footer-repondre-title">
            Merci de répondre à cette demande sous 48h.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 15px;">
            <a href="{{ absolute_url(path("paprec_commercial_contactUs_edit", {id: contactUs.id})) }}">
                <button class="btn btn-green" style="margin-top: 15px;">
                    Mettre à jour le statut
                </button>
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

