<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>

    <!-- Web Font / @font-face : BEGIN -->
    <!--[if mso]>
    <style>
        * {
            font-family: Arial, sans-serif !important;
        }
    </style>
    <![endif]-->


</head>
<body>
{% if quoteRequest.civility == 'M' %}
    {{ 'Commercial.ConfirmEmail.Dear.M'|trans }}
{% elseif quoteRequest.civility == 'Mme' %}
    {{ 'Commercial.ConfirmEmail.Dear.Mrs'|trans }}
{% endif %} {{ quoteRequest.firstName }} {{ quoteRequest.lastName }},<br><br>

{{ 'Commercial.ConfirmEmail.Message1'| trans({'%date%': quoteRequest.dateCreation|localizeddate('short', 'medium', locale)}, "messages", locale) }}
<br><br>
{{ 'Commercial.ConfirmEmail.Message2'| trans({}, "messages", locale) }}
<br><br>
{{ 'Commercial.ConfirmEmail.Regards'| trans({}, "messages", locale) }}
<br><br>
{{ 'Commercial.ConfirmEmail.Partner'| trans({}, "messages", locale) }}
<br><br>
<i>{{ 'Commercial.ConfirmEmail.NoReply'| trans({}, "messages", locale) }}</i>
<br><br>
{{ 'Commercial.GeneralEmail.Address1'| trans({}, "messages", locale) }}<br>
{{ 'Commercial.GeneralEmail.Address2'| trans({}, "messages", locale) }}<br>
{{ 'Commercial.GeneralEmail.Address3'| trans({}, "messages", locale) }}<br>
{{ 'Commercial.GeneralEmail.Address4'| trans({}, "messages", locale) }}<br>

</body>
</html>
