<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>

    <!-- Web Font / @font-face : BEGIN -->
    <!--[if mso]>
    <style>
        * {
            font-family: Arial, sans-serif !important;
        }
    </style>
    <![endif]-->
    <!-- Web Font / @font-face : END -->


</head>
<body>

{{ 'Commercial.NewQuoteEmail.Dear'|trans }},
<br><br>
{{ 'Commercial.NewQuoteEmail.Message1'| trans({}, "messages", locale) }}
<br>
<a href="{{ reisswolf_public_site_url }}/admin/commercial/quoteRequest/view/{{ quoteRequest.id }}">
    {{ 'Commercial.NewQuoteEmail.QuoteLink'| trans({}, "messages", locale) }}
</a>
<br><br>
{{ 'Commercial.NewQuoteEmail.Message2'| trans({}, "messages", locale) }}
<br><br>
{{ 'Commercial.ConfirmEmail.Partner'| trans({}, "messages", locale) }}
<br><br>
BALE, Schlachthofstrasse 18, CH-4056 Bâle, +41 61 386 96 70<br>
LUCERNE, Kantonsstrasse 5, CH-6033 Buchrain, +41 41 448 38 62<br>
ZURICH, Lindenstrasse 3, CH-8108 Dällikon, +41 44 844 24 04<br>
ROMANDIE, Rue de la Bergère 26, CH-1242 Satigny, +41 22 552 62 62<br>

</body>
</html>


