{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.CallBack.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Commercial.CallBack.CallBacks'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- FLASH MESSAGE -->
        <div class="view-box">

            {% for flashMessage in app.session.flashbag.get('errors') %}
                <div class="alert alert-danger">{{ ('Commercial.CallBack.Error.' ~ flashMessage)|trans }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ ('Commercial.CallBack.Success.' ~ flashMessage)|trans }}</div>
            {% endfor %}
        </div>
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-callBack"></i> {{ 'Commercial.CallBack.View'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_commercial_callBack_edit", {id: callBack.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Commercial.CallBack.Edit'|trans }}</a>
                    <a id="commmecialCallBackRemoveButton_" href="javascript:void(0);" class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Commercial.CallBack.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_commercial_callBack_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Commercial.CallBack.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.CallBack.Informations'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.BusinessName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Civility'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.civility }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.LastName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.lastName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.FirstName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.firstName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Email'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.email }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Phone'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.phone }}
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.DateCallBack'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.dateCallBack is empty ? "" : callBack.dateCallBack|localizeddate('short', 'none', app.request.locale) }} à {{ callBack.timeCallBack|date('H\\Hs',"Europe/Paris") }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Function'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ callBack.function }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.CartContent'|trans }}</label>
                                    <label class="col-form-label">
                                        {% for content in callBack.cartContent %}
                                            Produit n° {{ content['pId'] }} : {{ content['qtty']}}<br>
                                        {% endfor %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.TreatmentStatus'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.TreatmentStatusList.' ~ callBack.treatmentStatus)|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.CallBack.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Date-creation'|trans }}</label>
                                <label class="col-form-label">
                                    {{ callBack.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.CallBack.Date-update'|trans }}</label>
                                <label class="col-form-label">
                                    {{ callBack.dateUpdate is empty ? "" : callBack.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>
                $(function () {

                    $('#commmecialCallBackRemoveButton_').on('click', function () {

                        var url = "{{ path("paprec_commercial_callBack_remove", {id: callBack.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.CallBack.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });
                });
            </script>
        {% endblock %}
