{% extends "@PaprecCommercial/Common/PDF/base_pdf_quote_products.html.twig" %}

{% block address %} {{ productD3EQuote.address }} {{ productD3EQuote.postalCode }} {{ productD3EQuote.city }} {% endblock %}

{% block products %}
    <table>
        <thead>
        <tr>
            <th>Matériel</th>
            <th colspan="2">Type de prestation</th>
            <th>Tarifs à partir de (€ HT)</th>
        </tr>
        </thead>
        <tbody>
        {% for productD3EQuoteLine in productD3EQuote.productD3EQuoteLines %}
            <tr>
                <td> {{ productD3EQuoteLine.quantity }} {{ productD3EQuoteLine.productName }}</td>
                <td>
                    {% if productD3EQuoteLine.productD3E.pictos|length > 0 %}
                        <img src="{% if productD3EQuoteLine.productD3E.pictos|length > 0 %}{{ absolute_url('/uploads/pictos/' ~ productD3EQuoteLine.productD3E.pictos[0].path) }}{% endif %}"
                             alt="#">
                    {% endif %}
                </td>
                <td>
                    - {{ productD3EQuoteLine.productD3E.description }}
                </td>
                <td>
                    {{ productD3EQuoteLine.totalAmount|formatAmount('EUR', app.request.locale) }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td>{{ productD3EQuote.totalAmount|formatAmount('EUR', app.request.locale) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
