{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ProductChantierQuote.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Commercial.ProductChantierQuote.ProductChantierQuotes'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- FLASH MESSAGE -->
        <div class="view-box">

            {% for flashMessage in app.session.flashbag.get('errors') %}
                <div class="alert alert-danger">{{ ('Commercial.ProductChantierQuote.Error.' ~ flashMessage)|trans }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ ('Commercial.ProductChantierQuote.Success.' ~ flashMessage)|trans }}</div>
            {% endfor %}
        </div>
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-productChantierQuote"></i> {{ 'Commercial.ProductChantierQuote.View'|trans }}
                </h4>
                <div class="float-right">
                    <a id="sendGeneratedQuoteButton" href="javascript:void(0);" class="btn btn-sm btn-success"><i
                                class="fa fa-xs fa-envelope"></i> {{ 'Commercial.ProductD3EQuote.Send-quote'|trans }}
                    </a>
                    <a href="{{ path("paprec_commercial_productChantierQuote_edit", {id: productChantierQuote.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Commercial.ProductChantierQuote.Edit'|trans }}</a>
                    <a id="commmecialProductChantierQuoteRemoveButton_" href="javascript:void(0);"
                       class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Commercial.ProductChantierQuote.Remove'|trans }}
                    </a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_commercial_productChantierQuote_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Commercial.ProductChantierQuote.List'|trans }}
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductChantierQuote.Informations-FO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.BusinessName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.BusinessLine'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productChantierQuote.businessLine %}
                                            <a href="{{ path('paprec_commercial_businessLine_view', {id: productChantierQuote.businessLine.id}) }}">{{ productChantierQuote.businessLine.name }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Civility'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.civility }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.LastName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.lastName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.FirstName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.firstName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Function'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.function }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Email'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.email }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Phone'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.phone }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PreferredContact'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productChantierQuote.preferredContact %}
                                            {{ ('Commercial.QuoteRequest.' ~ productChantierQuote.preferredContact|capitalize)|trans }}
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.QuoteStatus'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.QuoteStatusList.' ~ productChantierQuote.quoteStatus)|trans }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.TotalAmount'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.totalAmount|formatAmount('EUR', app.request.locale) }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.SiteAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.address }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.postalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.city }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.HeadOfficeAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.headofficeAddress }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.headofficePostalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ productChantierQuote.headofficeCity }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductChantierQuote.Informations-BO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.GeneratedTurnover'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.generatedTurnover|formatAmount('EUR', app.request.locale) }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Agency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productChantierQuote.agency %}
                                            <a href="{{ path('paprec_commercial_agence_view', {id: productChantierQuote.agency.id}) }}">{{ productChantierQuote.agency }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Summary'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.summary|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Frequency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productChantierQuote.frequency == 'regular' %}Régulier {% else %}Ponctuel{% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Tonnage'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.tonnage }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.KookaburaNumber'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productChantierQuote.kookaburaNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.UserInCharge'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productChantierQuote.userInCharge %}
                                            <a href="{{ path('paprec_user_user_view', {id: productChantierQuote.userInCharge.id}) }}">{{ productChantierQuote.userInCharge }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                {{ 'Commercial.ProductChantierQuote.ProductsList'|trans }}
                            </h5>
                            <div class="float-right">

                                <a href="{{ path('paprec_commercial_productChantierQuote_addLine', {id: productChantierQuote.id}) }}"
                                   class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.ProductChantierQuote.AddLine'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="productChantierQuoteLinesDatatable"
                                   class="table table-striped table-bordered table-hover"
                                   cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Commercial.ProductChantierQuoteLine.ProductName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductChantierQuoteLine.CategoryName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductChantierQuoteLine.UnitPrice'|trans }}</th>
                                    <th>{{ 'Commercial.ProductChantierQuoteLine.Quantity'|trans }}</th>
                                    <th>{{ 'Commercial.ProductChantierQuoteLine.TotalAmount'|trans }}</th>

                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for productChantierQuoteLine in productChantierQuote.productChantierQuoteLines %}
                                    <tr>
                                        <td>{{ productChantierQuoteLine.id|formatId(6) }}</td>
                                        <td>{{ productChantierQuoteLine.productName }}</td>
                                        <td>{{ productChantierQuoteLine.categoryName }}</td>
                                        <td>{{ productChantierQuoteLine.unitPrice|formatAmount('EUR', app.request.locale) }}</td>
                                        <td>{{ productChantierQuoteLine.quantity }}</td>
                                        <td>{{ productChantierQuoteLine.totalAmount|formatAmount('EUR', app.request.locale) }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('paprec_commercial_productChantierQuote_editLine', {id: productChantierQuote.id, quoteLineId: productChantierQuoteLine.id}) }}"
                                               class="btn btn-sm btn-warning btn-sm mx-1"
                                               data-id="{{ productChantierQuoteLine.id }}">
                                                <i class="fa fa-xs fa-edit"></i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-sm btn-danger btn-sm commercialProductChantierQuoteLineRemoveButton"
                                               data-id="{{ productChantierQuoteLine.id }}">
                                                <i class="fa fa-xs fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductChantierQuote.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Date-creation'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productChantierQuote.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductChantierQuote.Date-update'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productChantierQuote.dateUpdate is empty ? "" : productChantierQuote.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>
                $(function () {

                    $('#commmecialProductChantierQuoteRemoveButton_').on('click', function () {

                        var url = "{{ path("paprec_commercial_productChantierQuote_remove", {id: productChantierQuote.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductChantierQuote.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });
                    $('.commercialProductChantierQuoteLineRemoveButton').on('click', function () {
                        quoteLineId = $(this).data('id');
                        var url = "{{ path("paprec_commercial_productChantierQuote_removeLine", {id: productChantierQuote.id, quoteLineId: 'quoteLineIdTmp'}) }}".replace('quoteLineIdTmp', quoteLineId);

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductChantierQuoteLine.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });
                    });


                    $('#sendGeneratedQuoteButton').on('click', function () {
                        var url = "{{ path("paprec_commercial_productChantierQuote_sendGeneratedQuote", {id: productChantierQuote.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.ProductChantierQuote.Confirm-send-quote'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });
                    })
                });
            </script>
        {% endblock %}
