{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequestNonCorporate.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequestNonCorporate.QuoteRequestNonCorporates'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialQuoteRequestNonCorporateForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Commercial.QuoteRequestNonCorporate.Edit'|trans }} #{{ quoteRequestNonCorporate.id|formatId(6) }}
                    </h4>
                    <div class="float-right">

                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-quoteRequestNonCorporate-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequestNonCorporate.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-quoteRequestNonCorporate-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequestNonCorporate.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequestNonCorporate.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.Division'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.division, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.division) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.QuoteStatus'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.quoteStatus, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.quoteStatus) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.GeneratedTurnover'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.generatedTurnover, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.generatedTurnover) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.Agency'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.agency) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.AssociatedQuote'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.associatedQuote) }}
                                            {{ form_errors(form.associatedQuote) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.Tonnage'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.tonnage, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.tonnage) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.KookaburaNumber'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.kookaburaNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.kookaburaNumber) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.UserInCharge'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.userInCharge, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.userInCharge) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.Frequency'|trans }}</label>
                                        <div class="form-content">
                                            {% for radio in form.frequency.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequestNonCorporate.Summary'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.summary) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-quoteRequestNonCorporate-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequestNonCorporate.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-quoteRequestNonCorporate-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequestNonCorporate.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-quoteRequestNonCorporate-save-button').on('click', function () {

                $('#commercialQuoteRequestNonCorporateForm').submit();

            });


            $('.commercial-quoteRequestNonCorporate-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_quoteRequestNonCorporate_view", {id: quoteRequestNonCorporate.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.QuoteRequestNonCorporate.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });


            });

        });
    </script>
{% endblock %}
