{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Home.Ticket.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Home.Ticket.Tickets'|trans }}
{% endblock %}

{% block main_content %}


    <form id="homeTicketForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-list"></i> {{ 'Home.Ticket.Edit'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success home-ticket-save-button"><i
                                    class="fa fa-check"></i> {{ 'Home.Ticket.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger home-ticket-cancel-button"><i
                                    class="fa fa-close"></i> {{ 'Home.Ticket.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'Home.Ticket.Informations'|trans }}</h3>
                            </div>
                            <div class="card-body no-gutters">

                                <div class="form-item mb-2">
                                    <div class="form-label">{{ 'Home.Ticket.Title'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Title'|trans }}) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item mb-2">
                                        <div class="form-label">{{ 'Home.Ticket.Level.Level'|trans }}</div>
                                        <div class="form-content">
                                            {{ form_widget(form.level, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Level.Level'|trans }}) }}
                                            {{ form_errors(form.level) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item mb-2">
                                        <div class="form-label">{{ 'Home.Ticket.Status.Status'|trans }}</div>
                                        <div class="form-content">
                                            {{ form_widget(form.status, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Status.Status'|trans }}) }}
                                            {{ form_errors(form.status) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item mb-2">
                                        <div class="form-label">{{ 'Home.Ticket.Invoice-status.Invoice-status'|trans }}</div>
                                        <div class="form-content">
                                            {{ form_widget(form.invoiceStatus, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Invoice-status.Invoice-status'|trans }}) }}
                                            {{ form_errors(form.invoiceStatus) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item mb-2">
                                    <div class="form-label">{{ 'Home.Ticket.Content'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Content'|trans }}) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                                <div class="form-item mb-2">
                                    <div class="form-label">{{ 'Home.Ticket.Ticket-file.Ticket-file'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.ticketFile, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Ticket-file.Ticket-file'|trans }}) }}
                                        {{ form_errors(form.ticketFile) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success home-ticket-save-button"><i
                                    class="fa fa-check"></i> {{ 'Home.Ticket.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger home-ticket-cancel-button"><i
                                    class="fa fa-close"></i> {{ 'Home.Ticket.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest': true}) }}
    </form>

{% endblock %}

    {% block javascripts %}

        <script>
            $(function () {

                $('.home-ticket-save-button').on('click', function () {

                    $('#homeTicketForm').submit();

                });


                $('.home-ticket-cancel-button').on('click', function () {

                    var url = "{{ path("paprec_home_ticket_index") }}";

                    Swal({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Home.Ticket.Confirm-cancel'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then((result) => {
                        if (result.value) {
                            $(location).attr('href', url);
                        }
                    });

                });

            });
        </script>
    {% endblock %}
