{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Home.Ticket.Edit-ticketMessage'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Home.Ticket.Tickets'|trans }}
{% endblock %}

{% block main_content %}

    <form id="homeTicketEditTicketMessageForm" action="" method="post">
        <div class="col-md-7">

            <div class="card">
                <div class="card-header">
                    <h4>{{ 'Home.Ticket.Edit-ticketMessage'|trans }}</h4>
                </div>
                <div class="card-body">
                    <div class="form-item mb-2">
                        <div class="form-label">{{ 'Home.Ticket.Content'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Home.Ticket.Content'|trans }}) }}
                            {{ form_errors(form.content) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">

                        <button type="submit"
                                class="btn btn-sm btn-success home-ticket-save-button form-block-submit-button"
                                data-form="#homeTicketEditShortTicketMessageForm"><i
                                    class="fa fa-check"></i> {{ 'General.Save'|trans }}</button>

                        <a href="javascript:void(0);"
                           class="btn btn-danger btn-sm home-ticket-cancel-button form-block-cancel-button"
                           data-text="{{ 'General.Confirm-cancel'|trans }}"><i
                                    class="fa fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest': true}) }}
    </form>


{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('.home-ticket-cancel-button').on('click', function () {

                var url = "{{ path("paprec_home_ticket_view", {id: ticket.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });
        });
    </script>
{% endblock %}
