{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Home.Ticket.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Home.Ticket.View'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Home.Ticket.View'|trans }} #{{ ticket.id|formatId(6) }}
                </h4>
                <div class="float-right">
                    <a href="{{ path('paprec_home_ticket_add') }}" class="btn btn-sm btn-success"><i
                                class="fa fa-xs fa-plus"></i> {{ 'Home.Ticket.Add'|trans }}</a>
                    <a href="{{ path("paprec_home_ticket_edit", {id: ticket.id}) }}" class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Home.Ticket.Edit'|trans }}</a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-danger view-confirm-button"
                       data-url="{{ path("paprec_home_ticket_remove", {id: ticket.id}) }}"
                       data-text="{{ 'General.Confirm-remove'|trans }}"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Home.Ticket.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_home_ticket_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Home.Ticket.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">

                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'General.Information'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.Title'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ ticket.title }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.User'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ ticket.userCreation.firstName }}
                                    {{ ticket.userCreation.lastName }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.Level.Level'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ ticket.level }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.Status.Status'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ ticket.status }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.Invoice-status.Invoice-status'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ ticket.invoiceStatus }}
                                </label>
                            </div>


                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Home.Ticket.Content'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {% autoescape false %}
                                        {{ ticket.content }}
                                    {% endautoescape %}
                                </label>
                            </div>

                            {% if ticketFiles is defined %}
                                <div class="col-md-6">
                                    <div class="img-responsive"><img src="{{ ticketFiles }}">
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                {{ 'Home.Ticket.Messages'|trans }}
                                <div class="float-right">
                                    <a href="{{ path('paprec_home_ticket_addTicketMessage', {id: ticket.id}) }}"
                                       class="btn btn-outline-primary btn-sm"><i
                                                class="fa fa-xs fa-plus"></i> {{ 'Home.Ticket.Add-ticketMessage'|trans }}</a>
                                </div>
                            </h5>
                        </div>
                        <div class="card-body">

                            {% if ticketMessages|length %}

                                {% for message in ticketMessages %}

                                    <div class="card mb-2">
                                        <div class="card-header">

                                            {% if message.dateUpdate is not null %}
                                                {{ 'General.Date-update'|trans }} : {{ message.dateUpdate is empty ? "" : message.dateUpdate|localizeddate('short', 'short', app.request.locale) }}
                                                - {{ message.userUpdate.firstName }} {{ message.userUpdate.lastName }}
                                            {% else %}
                                                {{ 'General.Date-creation'|trans }}
                                                : {{ message.dateCreation is empty ? "" : message.dateCreation|localizeddate('short', 'short', app.request.locale) }}
                                                - {{ message.userCreation.firstName }} {{ message.userCreation.lastName }}
                                            {% endif %}
                                            <div class="float-right">
                                                <a href="{{ path('paprec_home_ticket_editTicketMessage', {id: ticket.id, messageId: message.id}) }}"
                                                   class="btn btn-sm"><i
                                                            class="fa fa-xs fa-edit"></i> {{ 'Home.Ticket.Edit-ticketMessage'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                        {% autoescape false %}
                                            <div class="card-body">{{ message.content }}</div>
                                        {% endautoescape %}
                                    </div>

                                {% endfor %}

                            {% else %}
                                <h4>Aucun message</h4>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-md-7 mt-3">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {{ 'Home.Ticket.TicketFile.TicketFiles'|trans }}
                            </h3>
                        </div>
                        <div class="card-body">

                            {% for key, ticketFile in ticket.ticketFiles %}

                                {% if ticketFile.path|split('.')|last == 'jpeg' or  ticketFile.path|split('.')|last == 'jpg'  or  ticketFile.path|split('.')|last == 'gif' or ticketFile.path|split('.')|last == 'png' %}

                                    <img src="{{ path('paprec_home_ticket_ticketFile_download', {id: ticketFile.id}) }}"
                                         class="img-responsive">

                                {% else %}

                                    <a href="{{ path('paprec_home_ticket_ticketFile_download', {id: ticketFile.id}) }}"
                                       class="btn btn-sm"
                                       target="_blank">{{ 'Home.Ticket.Ticket-file.Download-ticket-file'|trans }}
                                        #{{ ticketFile.id|formatId(6) }}</a>

                                {% endif %}

                                <a href="{{ path('paprec_home_ticket_ticketFile_remove', {id: ticket.id, ticketFileId: ticketFile.id}) }}"
                                   class="btn btn-danger btn-sm"><i
                                            class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}</a>
                                <div class="clearfix"></div>
                                <hr>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

  {% block javascripts %}

  {% endblock %}
