{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.QuoteRequests'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialQuoteRequestForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Commercial.QuoteRequest.Edit'|trans }} #{{ quoteRequest.id }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-quoteRequest-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequest.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-quoteRequest-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequest.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.quoteStatus, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.quoteStatus) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.GeneratedTurnover'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.generatedTurnover, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.generatedTurnover) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.AssociatedQuote'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.associatedQuote) }}
                                            {{ form_errors(form.associatedQuote) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Agency'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.agency) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Tonnage'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.tonnage, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.tonnage) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.KookaburaNumber'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.kookaburaNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.kookaburaNumber) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.userInCharge, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.userInCharge) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Summary'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.summary) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-quoteRequest-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequest.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-quoteRequest-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequest.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-quoteRequest-save-button').on('click', function () {

                $('#commercialQuoteRequestForm').submit();

            });


            $('.commercial-quoteRequest-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_quoteRequest_view", {id: quoteRequest.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.QuoteRequest.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}