{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.ProductDIQuotes'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialProductDIQuoteForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-pencil-alt"></i> {{ 'Commercial.QuoteRequest.Edit'|trans }}
                        #{{ productDIQuote.id|formatId(6)}}
                    </h4>
                    <div class="float-right">

                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-productDIQuote-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequest.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-productDIQuote-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequest.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-FO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BusinessName'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.businessName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.businessName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BusinessLine'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.businessLine, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.businessLine) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Civility'|trans }}</label>
                                        <div class="form-content">
                                            {% for radio in form.civility.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.LastName'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.FirstName'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Email'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Phone'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.PreferredContact'|trans }}</label>
                                        <div class="form-content">
                                            {% for radio in form.preferredContact.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Function'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.function, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.function) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.quoteStatus, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.quoteStatus) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">{{ 'Commercial.QuoteRequest.HeadOfficeAddress'|trans }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.headofficeAddress, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.headofficeAddress) }}
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.headofficePostalCode, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.headofficePostalCode) }}
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.headofficeCity, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.headofficeCity) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">{{ 'Commercial.QuoteRequest.SiteAddress'|trans }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.address) }}
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.postalCode) }}
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                                <label class="col-form-label col-md-8">
                                                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(form.city) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.GeneratedTurnover'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.generatedTurnover, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.generatedTurnover) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Agency'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.agency) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Summary'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.summary) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Frequency'|trans }}</label>
                                        <div class="form-content">
                                            {% for radio in form.frequency.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Tonnage'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.tonnage, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.tonnage) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.KookaburaNumber'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.kookaburaNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.kookaburaNumber) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.userInCharge, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.userInCharge) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success commercial-productDIQuote-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Commercial.QuoteRequest.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger commercial-productDIQuote-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Commercial.QuoteRequest.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-productDIQuote-save-button').on('click', function () {

                $('#commercialProductDIQuoteForm').submit();

            });


            $('.commercial-productDIQuote-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_productDIQuote_view", {id: productDIQuote.id}) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.QuoteRequest.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
