{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.Users'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- FLASH MESSAGE -->
        <div class="view-box">

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ ('Commercial.QuoteRequest.Error.' ~ flashMessage)|trans }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ ('Commercial.QuoteRequest.Success.' ~ flashMessage)|trans }}</div>
            {% endfor %}
        </div>
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Commercial.QuoteRequest.View'|trans }}
                </h4>
                <div class="float-right">
                    <a id="sendQuoteButton" href="javascript:void(0);" class="btn btn-sm btn-success"><i
                                class="fa fa-xs fa-envelope"></i> {{ 'Commercial.QuoteRequest.SendQuote'|trans }}
                    </a>
                    <a href="{{ path("paprec_commercial_quoteRequest_edit", {id: quoteRequest.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Commercial.QuoteRequest.Edit'|trans }}</a>
                    <a id="commmecialQuoteRequestRemoveButton_" href="javascript:void(0);"
                       class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Commercial.QuoteRequest.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_commercial_quoteRequest_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Commercial.QuoteRequest.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-FO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.BusinessName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Civility'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.civility }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.LastName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.lastName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.FirstName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.firstName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Email'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.email }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Phone'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.phone }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PreferredContact'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.QuoteRequest.' ~ quoteRequest.preferredContact|capitalize)|trans }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Function'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.function }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ ('Commercial.QuoteStatusList.' ~ quoteRequest.quoteStatus)|trans }}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Division'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.division }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.AttachedFiles'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if quoteRequest.attachedFiles %}
                                            <a href="{{ path('paprec_commercial_quoteRequest_downloadAttachedFiles', {id: quoteRequest.id}) }}"><i
                                                        class="fa fa-download"></i></a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Need'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.need }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.HeadOfficeAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.headofficeAddress }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.headofficePostalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.headofficeCity }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ 'Commercial.QuoteRequest.SiteAddress'|trans }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.address }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.postalCode }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                            <label class="col-form-label">
                                                {{ quoteRequest.city }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-BO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.GeneratedTurnover'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.generatedTurnover|formatAmount('EUR', app.request.locale) }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Agency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if quoteRequest.agency %}
                                            <a href="{{ path('paprec_commercial_agence_view', {id: quoteRequest.agency.id}) }}">{{ quoteRequest.agency }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Summary'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.summary|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Frequency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if quoteRequest.frequency == 'regular' %}Régulier {% else %}Ponctuel{% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Tonnage'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.tonnage }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.KookaburaNumber'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.kookaburaNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if quoteRequest.userInCharge %}
                                            <a href="{{ path('paprec_user_user_view', {id: quoteRequest.userInCharge.id}) }}">{{ quoteRequest.userInCharge }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.AssociatedQuote'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if quoteRequest.associatedQuote %}
                                            <a href="{{ path('paprec_commercial_quoteRequest_downloadAssociatedQuote', {id: quoteRequest.id}) }}"><i
                                                        class="fa fa-download"></i></a>
                                        {% else %}
                                            <button class="btn btn-sm btn-outline-primary"
                                                    data-target="#uploadAssociatedQuoteModal" data-toggle="modal"
                                                    id="openModalUploadQuote">
                                                <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.AddAssociatedQuote'|trans }}
                                            </button>
                                            <div class="modal fade" id="uploadAssociatedQuoteModal" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="Upload Picture" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <form id="formAddAssociatedQuote" name="formAddAssociatedQuote"
                                                              action="{{ path("paprec_commercial_quoteRequest_addAssociatedQuote", {id: quoteRequest.id}) }}"
                                                              method="post" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">{{ 'Commercial.QuoteRequest.AddAssociatedQuote'|trans }}
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <div class="form-label">{{ 'Commercial.ChoseFile'|trans }}</div>
                                                                    <div class="form-content">
                                                                        {{ form_widget(formAddAssociatedQuote.associatedQuote, {'attr': {'class': 'form-control'}}) }}
                                                                        {{ form_errors(formAddAssociatedQuote.associatedQuote) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-secondary"
                                                                        data-dismiss="modal">
                                                                    {{ 'General.Cancel'|trans }}
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-primary"
                                                                        id="formAddAssociatedQuoteSubmitButton">
                                                                    {{ 'General.Save'|trans }}
                                                                </button>
                                                            </div>
                                                            {{ form_rest(formAddAssociatedQuote) }}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.QuoteRequest.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Date-creation'|trans }}</label>
                                <label class="col-form-label">
                                    {{ quoteRequest.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Date-update'|trans }}</label>
                                <label class="col-form-label">
                                    {{ quoteRequest.dateUpdate is empty ? "" : quoteRequest.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <script>
                $(function () {

                    $('#commmecialQuoteRequestRemoveButton_').on('click', function () {

                        var url = "{{ path("paprec_commercial_quoteRequest_remove", {id: quoteRequest.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.QuoteRequest.Confirm-remove'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });

                    });

                    $('#formAddAssociatedQuoteSubmitButton').on('click', function () {
                        $('#formAddAssociatedQuote').submit();
                    });

                    $('#sendQuoteButton').on('click', function () {
                        var url = "{{ path("paprec_commercial_quoteRequest_sendAssociatedQuote", {id: quoteRequest.id}) }}";

                        Swal({
                            title: "{{ 'General.Confirm'|trans }}",
                            text: "{{ 'Commercial.QuoteRequest.Confirm-send-quote'|trans }}",
                            showCancelButton: true,
                            confirmButtonText: "{{ 'General.Yes'|trans }}",
                            cancelButtonText: "{{ 'General.No'|trans }}"
                        }).then((result) => {
                            if (result.value) {
                                $(location).attr('href', url);
                            }
                        });
                    })
                });

            </script>
        {% endblock %}
