{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequestLine.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequestLine.Add'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialQuoteRequestForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.AddLine'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success commercial-quoteRequestLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-quoteRequestLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'General.Information'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.QuoteRequestLine.Product'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.product, {'attr': {'class': 'form-control select-product'}}) }}
                                        {{ form_errors(form.product) }}
                                    </div>
                                </div>
                                <div class="form-group no-gutters">
                                    <label class="form-label">{{ 'Commercial.QuoteRequestLine.Quantity'|trans }}</label>
                                    <div class="form-content col-md-6">
                                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success commercial-quoteRequestLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-quoteRequestLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-quoteRequestLine-save-button').on('click', function () {
                $('#commercialQuoteRequestForm').submit();
            });


            $('.commercial-quoteRequestLine-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_quoteRequest_view", { id: quoteRequest.id }) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then((result) => {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
