{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.QuoteRequests'|trans }}
{% endblock %}

{% block main_content %}

    <form id="catalogQuoteRequestForm" action="" method="post">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.Add'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-quoteRequestLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-quoteRequestLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'General.Information'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group no-gutters">
                                    <label class="form-label">{{ 'Commercial.QuoteRequestLine.Quantity'|trans }}</label>
                                    <div class="form-content col-md-6">
                                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-success catalog-quoteRequestLine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger catalog-quoteRequestLine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
    </div>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-quoteRequestLine-save-button').on('click', function () {
                $('#catalogQuoteRequestForm').submit();
            });


            $('.catalog-quoteRequestLine-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_quoteRequest_view", { id: quoteRequest.id }) }}";

                Swal({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function(result){
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
