{% extends "@PaprecPublic/Common/Base/base_index.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

 {% block top_msg_customizable_area %}

     {% set customArea = paprec_customizable_area('entreprise_top_msg') %}
     {% if customArea is not null %}
         {% autoescape false %}
             <div class="custom-area__top wrapper-top">
                 <div class="righter wrapper">
                     <div class="custom-area__top__msg">
                         {{ customArea.content }}
                     </div>
                 </div>
             </div>
         {% endautoescape %}
     {% endif %}
 {% endblock %}

{% block sidebar %}
    {# Définition des menus affichés dans la sidebar #}
    <div class="home-index"></div>
    {% set besoin = 'active' %}
    {% set coordonnees = '' %}
    {% set offre = '' %}
    {{ parent() }}
{% endblock %}

{% block division_selected %}
    {% if step != 'd' and (cart.division is defined and cart.division != '5FLUX') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block cinq_flux %}
    {% if (step is defined and (step != 'd')) and (cart.division is defined and cart.division == '5FLUX') %}
            <a class="button button--flux button--grey button--mediumblue"
               href="{{ paprec_easyrecyclage_5flux_url }}">{{ 'Public.Cart.NeedEstimation'|trans }}</a>

    {% endif %}
{% endblock %}

{% block frequency %}
    {% if (step == 'f' or step == 'r') and (cart.division is defined and cart.division != '5FLUX') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block bottom_customizable_area %}
    {% if cart.division and cart.division is not null %}
        {% set customAreaImage = paprec_customizable_area('images_banner_' ~ cart.division|lower) %}
        {% if customAreaImage is not null %}
            {% autoescape false %}
                {{ customAreaImage.content }}
            {% endautoescape %}
        {% endif %}

        {% set customArea = paprec_customizable_area('reassurance_banner_' ~ cart.division|lower) %}
        {% if customArea is not null %}
            {% autoescape false %}
                {{ customArea.content }}
            {% endautoescape %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>
{% endblock %}
