{% extends "@PaprecPublic/Common/Base/package/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}
{% block whoare %}
{% endblock %}

{% block sidebar %}
    <div class="chantier-delivery-form delivery-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'active' %}
    {% set coordonnees = 'passed' %}
    {% set livraison = 'active' %}
    {% set paiement = '' %}
    {{ parent() }}
{% endblock %}
{% block main_content_stepper %}
    <form id="deliveryForm" action="" method="post">
        <input type="hidden" id="divisionType" value="{{ cart.division }}">
        <div class="step">
            <div class="bold">
                {% if productChantierOrder.civility == 'M' %}{{ 'General.Mr'|trans }}{% else %}{{ 'General.Mme'|trans }}{% endif %} {{ productChantierOrder.firstName }} {{ productChantierOrder.lastName }}
                ,
            </div>
            <div class="recaptitle">Vous pouvez maintenant nous indiquer vos préférences de livraison.</div>
            <div>
                <div class="step__delivery">
                    <div class="title">
                        {{ 'Public.Delivery.SelectInstallationDate'|trans }}
                    </div>
                    <div class="desc">
                        {% autoescape false %}
                            {{ 'Public.Delivery.InstallationDateInfo'|trans }}
                        {% endautoescape %}
                    </div>
                    {{ form_widget(form.installationDate, {'attr': {'class': 'input'}}) }}
                    {{ form_errors(form.installationDate) }}
                </div>
                <div class="step__delivery">
                    <div class="title">
                        {{ 'Public.Delivery.SelectRemovalDate'|trans }}
                    </div>
                    <div class="desc">
                        {% autoescape false %}
                            {{ 'Public.Delivery.RemovalDateInfo'|trans }}
                        {% endautoescape %}
                    </div>
                    {{ form_widget(form.removalDate, {'attr': {'class': 'input'}}) }}
                    {{ form_errors(form.removalDate) }}
                </div>
                <div class="step__delivery form-input">
                    <div class="title">
                        {{ 'Public.Delivery.AccessConditions'|trans }}
                    </div>
                    {{ form_widget(form.domainType, {'attr': {'class': 'input__radio'}}) }}
                    {{ form_errors(form.domainType) }}
                    <div class="clearfix"></div>
                    {{ form_widget(form.accessConditions, {'attr': {'class': 'input input--full input--bordered', 'rows': '10', 'placeholder': 'Commercial.ProductChantierOrder.AccessConditionsPlaceholder'|trans}}) }}
                    {{ form_errors(form.accessConditions) }}

                </div>
            </div>
            {{ render(controller('PaprecPublicBundle:Common:getCTAsBottom', {
                'label': 'GoToPayment',
                'cartUuid': cart.id,
                'division': cart.division,
                'stepBack': 'packaged_step2',
                'nextStep': 'packaged_step4',
                'idSubmit': 'deliveryFormSubmitButton'
            })) }}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block bottom_customizable_area %}
    {% set customAreaImage = paprec_customizable_area('images_banner_' ~ cart.division|lower) %}
    {% if customAreaImage is not null %}
        {% autoescape false %}
            {{ customAreaImage.content }}
        {% endautoescape %}
    {% endif %}

    {% set customArea = paprec_customizable_area('reassurance_banner_chantier') %}
    {% if customArea is not null %}
        {% autoescape false %}
            {{ customArea.content }}
        {% endautoescape %}
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
